.button {
    display: inline-flex;
    padding-bottom: 3px;
    justify-content: center;
    align-items: center;
    border: none;
    width: fit-content;
    cursor: pointer;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 94%;
    /* 12.22px */
    letter-spacing: 0.39px;
    color: var(--white);
    transition: transform 0.2s ease-out;
    position: relative;



}


.button {
    background:
        linear-gradient(currentColor 0 0) var(--p, 0) 100% /var(--d, 0) 1px no-repeat;
    transition: 0.2s ease-out, background-position 0s 0.2s ease-out;
}

@media (hover: hover) and (pointer: fine) {
    .button {
        &:hover {
            --d: 100%;
            --p: 100%;
        }
    }

}

@media (hover: none) and (pointer: coarse) {
    .button {
        &:active {
            --d: 100%;
            --p: 100%;
        }
    }
}


@media (max-width: 1439px) {
    .button {
        font-size: 12px;
        letter-spacing: 0.36px;

    }
}

@media (max-width: 1023px) {
    .button {
        padding: 8px 0px;

    }
}

@media (max-width: 767px) {
    .button {
        font-size: 12px;
        letter-spacing: 0.36px;
    }
}