@media (hover: hover) and (pointer: fine) {
    .catalog {
        .filters_sorts {
            .button {
                &:hover {
                    border: 1.5px var(--gray-40) solid;
                    transition: 0.2s ease-out;
                }
            }
        }
    }
}

@media (hover: none) and (pointer: coarse) {

    .catalog {


        .filters_sorts {
            .button {
                &:active {
                    border: 1.5px var(--gray-40) solid;
                    transition: 0.2s ease-out;
                }
            }
        }
    }

}




.search {
    height: 56px;
    width: 100%;
    display: flex;
    gap: 12px;
    padding: 16px;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1.5px rgba(41, 38, 47, 1) solid;
    transition: 0.2s ease-out;

    &:hover {
        border: 1.5px rgba(65, 63, 75, 1) solid;
        transition: 0.2s ease-out;
    }

    & input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background-color: transparent;
        color: var(--white);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #000;
        font-style: normal;
        font-size: var(--fs-T_3-1920);
        font-weight: var(--fw-T_3);
        line-height: var(--lh-T_3);
        letter-spacing: var(--ls-T_3-1920);

        &::-webkit-input-placeholder {
            color: var(--light-gray);
        }

        &::-moz-placeholder {
            color: var(--light-gray);
        }

        &:-ms-input-placeholder {
            color: var(--light-gray);
        }

        &::-ms-input-placeholder {
            color: var(--light-gray);
        }

        &::placeholder {
            color: var(--light-gray);
        }
    }
}

.active {
    border: 1.5px var(--gray-15) solid;
    transition: 0.2s ease-out;
}

.catalog {
    width: 100%;
    border-top: 1px solid var(--gray-10);
    padding-top: 20px;
    color: var(--white);
    text-overflow: ellipsis;
    font-family: "Vela Sans GX";
    font-size: var(--fs-C_1-1920);
    font-style: normal;
    font-weight: var(--fw-C_1);
    line-height: var(--lh-C_1);
    letter-spacing: var(--ls-C_1-1920);
    box-sizing: border-box;

    margin-bottom: 128px;

    h1 {
        color: var(--white);
        font-style: normal;
        font-size: var(--fs-H_5-1920);
        font-weight: var(--fw-H_5);
        line-height: var(--lh-H_5-1920);
        letter-spacing: var(--ls-H_5-1920);
        margin-bottom: 20px;
    }
    

    span {
        color: var(--gray-40);
    }

    .filters_panel {
        display: flex;
        justify-content: space-between;
        height: 42px;
        margin-bottom: 12px;
        gap: 16px;

    }

    .filters_sorts {
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;

        .sorts {
            display: flex;
            gap: 2px;
            align-items: center;
            padding: 8px;
            position: relative;
            cursor: pointer;

            justify-content: space-between;

            .sort {
                padding-top: 1px;
                display: flex;
                align-items: center;
                gap: 2px;
                white-space: nowrap;
            }
        }

        .sortsBy {
            position: absolute;
            background-color: var(--dark-gray);
            width: 246px;
            height: auto;
            padding: 16px;
            top: 35px;
            left: -3px;
            border-radius: 8px;
            z-index: 2;

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 11px;
                position: relative;
                z-index: 1;
                position: relative;

                img {
                    position: absolute;
                    top: -22px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                li {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    color: var(--light-gray);

                    input[type='checkbox'] {
                        display: none;

                        &:checked+label .check {
                            background-color: var(--accent-purple);
                            background-image: url('./../../assets/icons/check.svg');
                            background-position: center;
                            background-repeat: no-repeat;
                            border: none;
                        }

                    }

                    label {
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        cursor: pointer;
                    }

                    .check {
                        width: 16px;
                        height: 16px;
                        border-radius: 62px;
                        border: 1px var(--gray-40) solid;
                    }


                }
            }


        }

        .button {

            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            height: 100%;
            padding: 12px;
            border: 1.5px var(--gray-10) solid;
            border-radius: 8px;
        }
    }

}

.products_container {
    display: flex;
    flex-direction: column;
}

.products {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-bottom: 36px;


}


@media (max-width: 1439px) {
   

    .search {
        & input {
            font-size: var(--fs-T_3-1024);
            letter-spacing: var(--ls-T_3-1024);
        }
    }

    .catalog {
        h1 {
            font-size: var(--fs-H_4-1024);
            font-weight: var(--fw-H_4-1024);
            line-height: var(--lh-H_4-1920);
            letter-spacing: var(--ls-H_4-1024);
        }
        font-size: var(--fs-C_1-1024);
        letter-spacing: var(--ls-C_1-1024);
        margin-bottom: 111px;

        .filters_panel {
            height: 38px;
        }

        .filters_sorts {
            display: flex;
            gap: 8px;
            justify-content: center;
            align-items: center;

            .sorts {
                height: 100%;
            }

            .sortsBy {
                padding: 12px;

                ul {
                    img {
                        top: -18px;
                    }
                }
            }

        }

    }

    .products {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);

    }
}

@media (max-width: 1023px) {

    *:focus {
        outline: none;
    }

   

    .search {
        height: 48px;
        width: 100%;
        padding: 12px 16px;

        & input {
            font-size: 14px;
            font-weight: 500;
            line-height: 19.6px;
            letter-spacing: 0.14px;
        }
    }

    .catalog {
        h1 {
            font-size: var(--fs-H_5-768);
            font-weight: var(--fw-H_5);
            line-height: var(--lh-H_5-1920);
            letter-spacing: var(--ls-H_5-768);
        }

        margin-bottom: 36px;

        .filters_panel {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: auto;
            gap: 12px;
            margin-bottom: 12px;

        }

        .filters_sorts {
            display: flex;
            gap: 8px;
            justify-content: flex-start;



            .sortsBy {
                position: absolute;
                background-color: var(--dark-gray);
                width: 100%;

                padding: 16px;
                top: 35px;
                left: -3px;
                border-radius: 8px;

                ul {
                    img {
                        top: -22px;
                    }
                }
            }

            .button {
                height: 35px;
            }
        }

    }

    .products {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 16px;
        margin-bottom: 36px;
    }

}

@media (max-width: 767px) {
  

    .catalog {

        h1 {
            margin-bottom: 16px;
            font-size: var(--fs-H_5-480);
            letter-spacing: var(--ls-H_5-480);
    
        }
        .filters_panel {
            gap: 8px;

        }

        .filters_sorts {
            height: 30px;

            // .sorts {
            //     min-width: 229px;
            // }


            .button {
                height: 100%;
            }
        }

    }

    .products {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

}

@media (max-width: 479px) {

   
    .search {

        width: 100%;
        padding: 12px 16px;

        & input {

            font-size: var(--fs-T_3-375);
            letter-spacing: var(--ls-T_3-375);
        }
    }

    .catalog {
        h1 {
            font-size: var(--fs-H_5-375);
            letter-spacing: var(--ls-H_5-375);
        }
    
        font-size: var(--fs-C_1-375);
        letter-spacing: var(--ls-C_1-375);

 

        .filters_sorts {
            display: flex;
            justify-content: space-between;
            height: 36px;

  

            .sorts {
                padding: 8px 0px;
                // min-width: 212px;
            }

            .sortsBy {

                ul {

                    img {

                        left: 80px;
                    }

                }
            }

        }

    }

}




@media  (max-width: 374px) {

 

    .catalog {
        h1 {
            margin-bottom: 12px;
        }
        .filters_types {
            height: 36px;

        }

        .filters_sorts {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0px;
            height: auto;

            .button {
                order: 1;
                height: 36px;
            }

            .sorts {
                padding: 8px 0px;
                // min-width: 212px;
                order: 2;
            }

            .sortsBy {

                ul {

                    img {

                        left: 80px;
                    }

                }
            }

        }

    }
}