.container {
    display: flex;
    gap: 24px;
    height: 100%;
    width: 100%;
    margin-top: 80px;
    justify-content: space-between;
    position: relative;
    min-height: 100%;

    .banner {
        position: absolute;
        top: 0;
        right: 0;
    }

    .descriptionbanner {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 220px;
        grid-template-rows: 1fr;
        grid-column-gap: 24px;
        grid-row-gap: 0px;


        .button {
            position: -webkit-sticky;
            position: sticky;
            width: auto;
            bottom: 48px;
            transform: matrix3d(0, 0, 0);
            -webkit-transform: matrix3d(0, 0, 0);
            grid-area: 2 / 1 / 3 / 3;
        }
    }

    .descriptionContainer {
        display: flex;
        gap: 24px;
        flex-direction: column;
        position: relative;

        flex: 1 1 100%;

        padding-bottom: 48px;


        .description {
            display: flex;
            flex-direction: column;
            gap: 32px;

            .heading {
                h1 {
                    font-size: var(--fs-H_6-1920);
                    font-style: normal;
                    font-weight: var(--fw-H_6);
                    line-height: var(--lh-H_6-1920);
                    letter-spacing: var(--ls-H_6-1920);
                }

                .price {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    font-size: var(--fs-H_7-1920);
                    font-style: normal;
                    font-weight: var(--fw-H_7);
                    line-height: var(--lh-H_7-1920);
                    letter-spacing: var(--ls-H_7-1920);
                    color: var(--accent-color);

                    .oldprice {
                        color: var(--gray-40);

                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 140%;
                        /* 25.2px */
                        letter-spacing: 0.18px;
                        text-decoration: line-through;
                    }
                }
            }

            .text {
                font-size: var(--fs-T_3-1920);
                font-style: normal;
                font-weight: var(--fw-T_3);
                line-height: var(--lh-T_3);
                letter-spacing: var(--ls-T_3-1920);
                color: var(--light-gray);
            }

        }

        .sections {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .section {
                display: flex;
                flex-direction: column;
                gap: 16px;



                h2 {
                    font-size: var(--fs-H_7-1920);
                    font-style: normal;
                    font-weight: var(--fw-H_7);
                    line-height: var(--lh-H_7-1920);
                    letter-spacing: var(--ls-H_7-1920);
                    color: var(--white);
                }

                ol {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    li {
                        list-style-position: inside;
                        font-size: var(--fs-T_3-1920);
                        font-style: normal;
                        font-weight: var(--fw-T_3);
                        line-height: var(--lh-T_3);
                        letter-spacing: var(--ls-T_3-1920);
                        color: var(--light-gray);
                        align-self: stretch;
                    }
                }

                .features {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    .featuresItem {
                        display: flex;
                        flex-direction: column;
                        gap: 6px;

                        h3 {
                            font-size: var(--fs-C_2-1920);
                            font-style: normal;
                            font-weight: var(--fw-C_2);
                            line-height: var(--lh-C_2);
                            letter-spacing: var(--ls-C_2-1920);
                            color: var(--gray-40);
                        }

                        span {
                            font-size: var(--fs-T_3-1920);
                            font-style: normal;
                            font-weight: var(--fw-T_3);
                            line-height: var(--lh-T_3);
                            letter-spacing: var(--ls-T_3-1920);
                            color: var(--white);
                        }


                    }

                }
            }

            .section:last-of-type {
                margin-bottom: 24px;

            }

        }
    }
}



@media (max-width: 1919px) {
    .container {


        .descriptionbanner {
            display: grid;
            gap: 24px;
            grid-template-columns: 1fr 180px;
            grid-template-rows: 1fr;
            grid-column-gap: 11px;
            grid-row-gap: 0px;

            .button {
                position: -webkit-sticky;
                position: sticky;
                width: auto;

                transform: matrix3d(0, 0, 0);
                -webkit-transform: matrix3d(0, 0, 0);
                grid-area: 2 / 1 / 3 / 3;
            }
        }



    }
}

@media (max-width: 1439px) {
    .container {
        gap: 17.5px;

        .descriptionbanner {


            .descriptionContainer {

                margin-bottom: 64px;
                grid-area: 1 / 1 / 3 / 3;

                .description {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    .heading {
                        h1 {
                            font-size: var(--fs-H_7-1024);
                            font-weight: var(--fw-H_7);
                            line-height: var(--lh-H_7-1920);
                            letter-spacing: var(--ls-H_7-1024);
                        }

                        .price {
                            .oldprice {
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 140%;
                                /* 22.4px */
                                letter-spacing: 0.16px;
                            }
                        }
                    }

                    .text {
                        font-size: var(--fs-T_3-1024);
                        letter-spacing: var(--ls-T_3-1024);
                    }

                }

                .sections {


                    .section {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        h2 {
                            font-size: var(--fs-H_7-1024);
                            letter-spacing: var(--ls-H_7-1024);
                        }

                        ol {


                            li {
                                font-size: var(--fs-T_3-1024);
                                letter-spacing: var(--ls-T_3-1024);
                            }
                        }

                        .features {
                            display: flex;
                            flex-direction: column;
                            gap: 12px;

                            .featuresItem {
                                display: flex;
                                flex-direction: column;
                                gap: 6px;

                                span {
                                    font-size: var(--fs-T_3-1024);
                                    letter-spacing: var(--ls-T_3-1024);
                                }
                            }

                        }
                    }
                }
            }
        }
    }


}

@media (max-width: 1023px) {
    .container {
        gap: 29px;
        flex-direction: column;
        margin-top: 16px;
        justify-content: flex-start;

        .descriptionbanner {
            .button {
                width: 100%;
                bottom: 39px;
            }

            .descriptionContainer {
                display: flex;
                gap: 24px;
                flex-direction: column;
                position: relative;

                .description {

                    .heading {
                        h1 {
                            margin-bottom: 8px;
                        }
                    }

                    .text {
                        font-size: var(--fs-T_3-768);
                        letter-spacing: var(--ls-T_3-768);
                    }
                }

                .sections {

                    gap: 24px;

                    .section {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        ol {

                            li {
                                font-size: var(--fs-T_3-768);
                                letter-spacing: var(--ls-T_3-768);
                            }
                        }

                        .features {
                            .featuresItem {
                                gap: 4px;

                                h3 {
                                    font-size: var(--fs-C_2-768);
                                    letter-spacing: var(--ls-C_2-768);
                                }

                                span {
                                    font-size: var(--fs-T_3-768);
                                    letter-spacing: var(--ls-T_3-768);
                                }

                            }

                        }
                    }

                    .section:last-of-type {
                        margin-bottom: 19.5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        gap: 40px;

        .descriptionbanner {
            .button {
                bottom: 24px;
            }

            .descriptionContainer {
                position: relative;
                min-width: unset;
                gap: 16px;

                margin-bottom: 40px;


                .description {
                    gap: 16px;

                    .heading {
                        h1 {
                            font-size: var(--fs-H_7-480);
                            letter-spacing: var(--ls-H_7-480);
                        }

                        .price {
                            gap: 6px;

                            .oldprice {
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 140%;
                                /* 21px */
                                letter-spacing: 0.15px;
                            }
                        }
                    }

                    .text {
                        font-size: var(--fs-T_3-480);
                        letter-spacing: var(--ls-T_3-480);
                    }
                }

                .sections {

                    gap: 16px;

                    .section {
                        ol {
                            li {
                                font-size: var(--fs-T_3-480);
                                letter-spacing: var(--ls-T_3-480);
                            }
                        }

                        .features {
                            .featuresItem {
                                h3 {
                                    font-size: var(--fs-C_2-480);
                                    letter-spacing: var(--ls-C_2-480);
                                }

                                span {
                                    font-size: var(--fs-T_3-480);
                                    letter-spacing: var(--ls-T_3-480);
                                }
                            }
                        }

                    }

                    .section:last-of-type {
                        padding-bottom: 0px;
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }


}

@media (max-width: 479px) {
    .container {
        gap: 32px;

        .product_img {

            // max-height: 272px;
            width: 100%;
            min-height: auto;
            min-height: 272px;
        }

        .descriptionbanner {

            .descriptionContainer {



                .button {


                    // padding: 0 24px;
                    // margin-left: -24px;
                    // margin-right: 24px;


                }

                .description {


                    .heading {

                        .price {
                            font-size: var(--fs-H_7-480);
                            letter-spacing: var(--ls-H_7-480);

                            .oldprice {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 140%;
                                /* 19.6px */
                                letter-spacing: 0.14px;
                            }
                        }
                    }

                    .text {
                        font-size: var(--fs-T_3-375);
                        letter-spacing: var(--ls-T_3-375);
                    }
                }

                .sections {
                    .section {
                        gap: 12px;

                        h2 {
                            font-size: var(--fs-H_7-375);
                            letter-spacing: var(--ls-H_7-375);
                        }

                        ol {

                            li {
                                font-size: var(--fs-T_3-375);
                                letter-spacing: var(--ls-T_3-375);
                            }
                        }

                        .features {
                            .featuresItem {
                                span {
                                    font-size: var(--fs-T_3-375);
                                    letter-spacing: var(--ls-T_3-375);
                                }
                            }
                        }

                    }
                }

            }
        }
    }
}

@media (max-width: 374px) {
    .container {

        .descriptionbanner {
            .descriptionContainer {
                .button {
                    bottom: 24px;
                }
            }
        }
    }
}