.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 32px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 22.4px */
    letter-spacing: 0.32px;
    background-color: var(--dark-gray);
    border: none;
    color: var(--light-gray);
    transition: 0.2s ease-out;
    gap: 12px;
    max-height: 100%;
    outline: 1.5px solid var(--dark-gray);
    outline-width: 1.5px;
    outline-offset: 0px;

    &:disabled {
        opacity: 0.4;
        background-color: var(--dark-gray);
        cursor: default;



    }


}

.small {
    padding: 10px 24px;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 94%;
    /* 12.22px */
    letter-spacing: 0.39px;
}

.medium {
    padding: 10px 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 22.4px */
    letter-spacing: 0.32px;
    gap: 4px;
}

@media (hover: hover) and (pointer: fine) {
    .button {
        &:not(:disabled):hover {
            background: #27252F;
            outline: 1.5px solid var(--gray-15);
            outline-width: 1.5px;
            outline-offset: 0px;
            transition: all 0.2s ease-out;
        }
    }

}

@media (hover: none) and (pointer: coarse) {
    .button {
        &:not(:disabled):active {
            background: #27252F;
            outline: 1.5px solid var(--gray-15);
            outline-width: 1.5px;
            outline-offset: 0px;
            transition: 0.2s ease-out;
        }
    }
}

@media (max-width: 1439px) {
    .button {
        font-size: 15px;
        letter-spacing: 0.3px;
        gap: 6px;

    }

    .small {
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        /* 14.4px */
        letter-spacing: 0.36px;
    }

    .medium {
        font-size: 15px;
        letter-spacing: 0.3px;
    }

}

@media (max-width: 767px) {
    .button {
        font-size: 14px;
        letter-spacing: 0.28px;
        gap: 4px;
        border-radius: 4px;
        padding: 20px 32px;
    }

    .small {
        font-size: 12px;
        letter-spacing: 0.36px;
        padding: 12px 16px;
        border-radius: 4px;
        gap: 4px;
    }

    .medium {
        border-radius: 4px;
        font-size: 14px;
        letter-spacing: 0.28px;
        gap: 4px;
        padding: 12px 16px;
    }
}

@media (max-width: 479px) {
    .button {
        font-size: 13px;
        letter-spacing: 0.26px;
    }


    .medium {
        font-size: 13px;
        letter-spacing: 0.26px;
    }
}