.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 32px;
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--fs-T_3-1920);
    font-style: normal;
    font-weight: var( --fw-T_3);
    line-height: var(--lh-T_3);
    letter-spacing: var(--ls-T_3-1920);
    background-color: var(--dark-gray);
    border: none;
    color: var(--light-gray);
    transition: 0.2s ease-out;
    gap: 12px;
    max-height: 100%;
    outline: 1.5px solid var(--dark-gray);
    outline-width: 1.5px;
    outline-offset: 0px;
text-align: center;
    &:disabled {
        opacity: 0.4;
        background-color: var(--dark-gray);
        cursor: default;



    }


}

.small {
    padding: 10px 24px;
    font-size: var(--fs-C_2-1920);
    font-style: normal;
    font-weight: var(--fw-C_2);
    line-height: var(--lh-C_2);
    letter-spacing: var(--ls-C_2-1920);
    gap: 6px;
}

.medium {
    padding: 10px 16px;
    font-size: var(--fs-T_3-1920);
    font-style: normal;
    font-weight: var( --fw-T_3);
    line-height: var(--lh-T_3);
    letter-spacing: var(--ls-T_3-1920);
    gap: 4px;
}

@media (hover: hover) and (pointer: fine) {
    .button {
        &:not(:disabled):hover {
            background: #27252F;
            outline: 1.5px solid var(--gray-15);
            outline-width: 1.5px;
            outline-offset: 0px;
            transition: all 0.2s ease-out;
        }
    }

}

@media (hover: none) and (pointer: coarse) {
    .button {
        &:not(:disabled):active {
            background: #27252F;
            outline: 1.5px solid var(--gray-15);
            outline-width: 1.5px;
            outline-offset: 0px;
            transition: 0.2s ease-out;
        }
    }
}


@media (max-width: 1439px) {
    .button {
        font-size: var(--fs-T_3-1024);
        letter-spacing: var( --ls-T_3-1024);
        gap: 6px;

    }

    .small {
        font-size: var(--fs-C_2-1024);
        letter-spacing: var(--ls-C_2-1024);
    }

    .medium {
        font-size: var(--fs-T_3-1024);
        letter-spacing: var( --ls-T_3-1024);
    }

}

@media (max-width: 1023px) {
    .button {
        font-size: var(--fs-T_3-768);
        letter-spacing: var(--ls-T_3-768);
    }

    .small {
        font-size: var(--fs-C_2-768);
        letter-spacing: var(--ls-C_2-768);
    }

    .medium {
        font-size: var(--fs-T_3-768);
        letter-spacing: var(--ls-T_3-768);
    }
}

@media (max-width: 767px) {
    .button {
        font-size: var(--fs-T_3-480);
        letter-spacing: var(--ls-T_3-480);
        gap: 4px;
        border-radius: 4px;
        padding: 20px 32px;
    }

    .small {
        font-size: var(--fs-C_2-480);
        letter-spacing: var(--ls-C_2-480);
        padding: 12px 16px;
        border-radius: 4px;
        gap: 4px;
    }

    .medium {
        border-radius: 4px;
        font-size: var(--fs-T_3-480);
        letter-spacing: var(--ls-T_3-480);
        gap: 4px;
        padding: 12px 16px;
    }
}

@media (max-width: 479px) {
    .button {
        font-size: var(--fs-T_3-375);
        letter-spacing: var(--ls-T_3-375);
    }

    .small {
        font-size: var(--fs-C_2-375);
        letter-spacing: var(--ls-C_2-375);
        padding: 12px 16px;
        border-radius: 4px;
        gap: 4px;
    }

    .medium {
        font-size: var(--fs-T_3-375);
        letter-spacing: var(--ls-T_3-375);
    }
}