footer {
    // background-color: var(--background-far);
    background-color: transparent;
    padding: 14px 0;
    z-index: 2;
}

.container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-C_1-1920);
    font-style: normal;
    font-weight: var(--fw-C_1);
    line-height: var(--lh-C_1);
    letter-spacing: var(--ls-C_1-1920);
   z-index: 23;
    a,
    a:hover,
    a:visited {
        color: inherit;
        text-decoration: none;
    }

    .rights {
        color: var(--gray-15);
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 24px;
        color: var(--gray-40);
      

        a {
            align-self: center;
        }
    }

    .design {
        display: flex;
        align-items: flex-start;
        gap: 4px;
        color: var(--gray-40);
    }
}

@media (max-width: 1439px) {
    footer {
        padding: 16px 0;
    }

    .container {

        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: var(--fs-C_1-1024);
        letter-spacing: var(--ls-C_1-1024);
       
        .options {

            gap: 16px;
        }

    }
}

@media (max-width: 1023px) {

    .container {
        font-size: var(--fs-C_1-768);
        letter-spacing: var(--ls-C_1-768);
       
        .design {
            margin-top: -8px;
            align-items: center;
            height: 30px;
        }

        a {
            align-self: center;

        }

    }
}

@media (max-width: 768px) {

    .container {
        font-size: var(--fs-C_1-480);
        letter-spacing: var(--ls-C_1-480);


        // a {
        //     align-self: flex-start;
            
        // }

    }
}

@media (max-width: 479px) {

    .container {
        font-size: var(--fs-C_1-375);
        letter-spacing: var(--ls-C_1-375);

    

        .design {
            margin-top: -8px;
            height: auto;

            // a {
            //     margin-top: 0px;
            // }
        }
    }
}

@media (max-width: 374px) {

    .container {

        .options {
            flex-direction: column;
            gap: 4px;
        }


    }
}