.button {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2250px;
    border: 1px solid var(--gray-10-transparacy);
    transition: 0.2s ease-out;
    // cursor: pointer;

    svg {
        transition: 0.2s ease-out;

        path {
            fill: #E7E5ED;
            fill-opacity: 0.4;
        }
    }

    &:hover {
        background-color: var(--accent-purple);
        border: 1px solid var(--accent-purple);
        transition: 0.2s ease-out;
        padding: 10px;

        svg path {
            fill: white;
            fill-opacity: 1;
            transition: 0.2s ease-out;
        }


    }
}




@media (hover: hover) and (pointer: fine) {
    .button {
        &:hover {
            background-color: var(--accent-purple);
            border: 1px solid var(--accent-purple);
            transition: 0.2s ease-out;
            padding: 10px;
    
            svg path {
                fill: white;
                fill-opacity: 1;
                transition: 0.2s ease-out;
            }
    
    
        }
    }

}

@media (hover: none) and (pointer: coarse) {
    .button {
        &:active {
            background-color: var(--accent-purple);
            border: 1px solid var(--accent-purple);
            transition: 0.2s ease-out;
            padding: 10px;
    
            svg path {
                fill: white;
                fill-opacity: 1;
                transition: 0.2s ease-out;
            }
    
    
        }
    }
}
