.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    margin-bottom: 32px;
}

@media (max-width: 479px) {
    .container {
        gap: 24px;
        margin-bottom: 24px;
    }
}