.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-bottom: 3px;
    border-bottom: 2.5px dashed var(--gray-15);

    // background-color: var(--background-far);
}


.title {
    gap: 8px;


    .heading {
        color: var(--white);
        font-size: var(--fs-T_3-1920);
        font-style: normal;
        font-weight: var(--fw-T_3);
        line-height: var(--lh-T_3);
        letter-spacing: var(--ls-T_3-1920);
    }

}


.wrapper {
    display: flex;
    align-items: center;
}

.input {
    color: var(--white);
    text-overflow: ellipsis;
    letter-spacing: inherit;
    border: none;
    outline: none;
    width: 100%;
    outline: none;
    font-size: var(--fs-T_1-1920);
    font-style: normal;
    font-weight: var(--fw-T_1);
    line-height: var(--lh-T_1);
    letter-spacing: var(--ls-T_1-1920);

    resize: none;
    overflow-y: auto;
   
    scroll-behavior: smooth;
    height: auto;
    /* высота одной строки */


    &::-webkit-input-placeholder {
        font-size: var(--fs-T_1-1920);
        font-style: normal;
        font-weight: var(--fw-T_1);
        line-height: var(--lh-T_1);
        letter-spacing: var(--ls-T_1-1920);
        color: var(--gray-40);
        -webkit-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        display: none;
    }

    &::-moz-placeholder {
        font-size: var(--fs-T_1-1920);
        font-style: normal;
        font-weight: var(--fw-T_1);
        line-height: var(--lh-T_1);
        letter-spacing: var(--ls-T_1-1920);
        color: var(--gray-40);
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        display: none;
    }

    &:-ms-input-placeholder {
        font-size: var(--fs-T_1-1920);
        font-style: normal;
        font-weight: var(--fw-T_1);
        line-height: var(--lh-T_1);
        letter-spacing: var(--ls-T_1-1920);
        color: var(--gray-40);
        -ms-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        display: none;
    }

    &::-ms-input-placeholder {
        font-size: var(--fs-T_1-1920);
        font-style: normal;
        font-weight: var(--fw-T_1);
        line-height: var(--lh-T_1);
        letter-spacing: var(--ls-T_1-1920);
        color: var(--gray-40);
        -ms-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        display: none;
    }

    &::placeholder {
        font-size: var(--fs-T_1-1920);
        font-style: normal;
        font-weight: var(--fw-T_1);
        line-height: var(--lh-T_1);
        letter-spacing: var(--ls-T_1-1920);
        color: var(--gray-40);
        transition: 0.2s ease-out;
        display: none;
    }
}



@media (hover: hover) and (pointer: fine) {
    .container {

        &:hover {

            border-bottom: 2.5px dashed var(--gray-40);
            transition: 0.2s ease-out;

            .input {
                &::-webkit-input-placeholder {
                    -webkit-transition: 0.2s ease-out;
                    transition: 0.2s ease-out;
                    color: var(--light-gray);
                }

                &::-moz-placeholder {
                    -moz-transition: 0.2s ease-out;
                    transition: 0.2s ease-out;
                    color: var(--light-gray);
                }

                &:-ms-input-placeholder {
                    -ms-transition: 0.2s ease-out;
                    transition: 0.2s ease-out;
                    color: var(--light-gray);
                }

                &::-ms-input-placeholder {
                    -ms-transition: 0.2s ease-out;
                    transition: 0.2s ease-out;
                    color: var(--light-gray);
                }

                &::placeholder {
                    transition: 0.2s ease-out;
                    color: var(--light-gray);
                }
            }
        }
    }




}

@media (hover: none) and (pointer: coarse) {
    .container {

        &:active {

            border-bottom: 2.5px dashed var(--gray-40);
            transition: 0.2s ease-out;

            .input {


                &::-webkit-input-placeholder {
                    -webkit-transition: 0.2s ease-out;
                    transition: 0.2s ease-out;
                    color: var(--light-gray);
                }


                &::-moz-placeholder {
                    -moz-transition: 0.2s ease-out;
                    transition: 0.2s ease-out;
                    color: var(--light-gray);
                }


                &:-ms-input-placeholder {
                    -ms-transition: 0.2s ease-out;
                    transition: 0.2s ease-out;
                    color: var(--light-gray);
                }


                &::-ms-input-placeholder {
                    -ms-transition: 0.2s ease-out;
                    transition: 0.2s ease-out;
                    color: var(--light-gray);
                }


                &::placeholder {
                    transition: 0.2s ease-out;
                    color: var(--light-gray);
                }
            }
        }
    }

}


@media (max-width: 1439px) {

    .title {

        .heading {
            font-size: var(--fs-T_3-1024);
            letter-spacing: var(--ls-T_3-1024);
        }
    }

    .input {
        font-size: var(--fs-T_1-1024);
        letter-spacing: var(--ls-T_1-1024);

        &::-webkit-input-placeholder {
            font-size: var(--fs-T_1-1024);
            letter-spacing: var(--ls-T_1-1024);
        }

        &::-moz-placeholder {
            font-size: var(--fs-T_1-1024);
            letter-spacing: var(--ls-T_1-1024);
        }

        &:-ms-input-placeholder {
            font-size: var(--fs-T_1-1024);
            letter-spacing: var(--ls-T_1-1024);
        }

        &::-ms-input-placeholder {
            font-size: var(--fs-T_1-1024);
            letter-spacing: var(--ls-T_1-1024);
        }

        &::placeholder {
            font-size: var(--fs-T_1-1024);
            letter-spacing: var(--ls-T_1-1024);
        }
    }
}

@media (max-width: 1023px) {
    .container {
        gap: 8px;
        padding-bottom: 0px;
    }

    .title {

        .heading {
            font-size: var(--fs-T_3-768);
            letter-spacing: var(--ls-T_3-768);
        }

    }

    .input {
        font-size: 16px;
        letter-spacing: 0.16px;

        &::-webkit-input-placeholder {
            font-size: var(--fs-T_1-768);
            letter-spacing: var(--ls-T_1-768);
        }

        &::-moz-placeholder {
            font-size: var(--fs-T_1-768);
            letter-spacing: var(--ls-T_1-768);
        }

        &:-ms-input-placeholder {
            font-size: var(--fs-T_1-768);
            letter-spacing: var(--ls-T_1-768);
        }

        &::-ms-input-placeholder {
            font-size: var(--fs-T_1-768);
            letter-spacing: var(--ls-T_1-768);
        }

        &::placeholder {
            font-size: var(--fs-T_1-768);
            letter-spacing: var(--ls-T_1-768);
        }
    }

}

@media (max-width:767px) {
    .container {
        gap: 6px;

    }

    .title {

        .heading {
            font-size: var(--fs-T_3-480);
            letter-spacing: var(--ls-T_3-480);
        }

    }

    .input {
        font-size: var(--fs-T_1-480);
        letter-spacing: var(--ls-T_1-480);

        &::-webkit-input-placeholder {
            font-size: var(--fs-T_1-480);
        letter-spacing: var(--ls-T_1-480);
        }

        &::-moz-placeholder {
            font-size: var(--fs-T_1-480);
            letter-spacing: var(--ls-T_1-480);
        }

        &:-ms-input-placeholder {
            font-size: var(--fs-T_1-480);
            letter-spacing: var(--ls-T_1-480);
        }

        &::-ms-input-placeholder {
            font-size: var(--fs-T_1-480);
            letter-spacing: var(--ls-T_1-480);
        }

        &::placeholder {
            font-size: var(--fs-T_1-480);
            letter-spacing: var(--ls-T_1-480);
        }
    }
}

@media (max-width:479px) {

    .title {

        .heading {
            font-size: var(--fs-T_3-375);
            letter-spacing: var(--ls-T_3-375);

        }
    }

    .input {
        font-size: var(--fs-T_1-375);
        letter-spacing: var(--ls-T_1-375);

        &::-webkit-input-placeholder {
            font-size: var(--fs-T_1-375);
            letter-spacing: var(--ls-T_1-375);
        }

        &::-moz-placeholder {
            font-size: var(--fs-T_1-375);
            letter-spacing: var(--ls-T_1-375);
        }

        &:-ms-input-placeholder {
            font-size: var(--fs-T_1-375);
            letter-spacing: var(--ls-T_1-375);
        }

        &::-ms-input-placeholder {
            font-size: var(--fs-T_1-375);
            letter-spacing: var(--ls-T_1-375);
        }

        &::placeholder {
            font-size: var(--fs-T_1-375);
            letter-spacing: var(--ls-T_1-375);
        }
    }
 
}