.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 56px;
    align-self: stretch;

    .buttons {
        display: flex;
        gap: 12px;
        width: 100%;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;

        .heading {
            color: var(--gray-40);
            text-align: center;

            /* 1920-0000/Headline/H_4 Vela */
            font-size: var(--fs-H_4-1920);
            font-style: normal;
            font-weight: var(--fw-H_4-1920);
            line-height: var(--lh-H_4-1920);
            letter-spacing: var(--ls-H_4-1920);
            text-transform: uppercase;
        }

        .menu_buttons {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            align-self: stretch;

            .menu_button {
                width: 100%;
                opacity: 1;
                padding-bottom: 32px;
                transition: 0.2s ease-out;
                cursor: pointer;
            }

            .menu_button:last-child {
                padding-bottom: 0px;
            }
        }


    }

    .small {
        gap: 24px;
        .menu_buttons {
            .menu_button {
                padding-bottom: 24px;
            }

            .menu_button:last-child {
                padding-bottom: 0px;
            }

        }
    }
}

@media (hover: hover) and (pointer: fine) {

    .container {
        &:hover .menu_buttons {
            .menu_button {
                opacity: 0.5;
                transition: 0.2s ease-out;

                &:hover {
                    opacity: 1;
                    transition: 0.2s ease-out;
                }
            }
        }
    }

    // .small {
    //     &:hover .menu_buttons {
    //         .menu_button {
    //             opacity: 0.5;
    //             transition: 0.2s ease-out;

    //             &:hover {
    //                 opacity: 1;
    //                 transition: 0.2s ease-out;
    //             }
    //         }
    //     }
    // }

}


@media (hover: none) and (pointer: coarse) {
    .menu {
        &:active .menu_buttons {
            .menu_button {
                opacity: 0.5;
                transition: 0.2s ease-out;

                &:active {
                    opacity: 1;
                    transition: 0.2s ease-out;
                }
            }
        }
    }

    // .small {
    //     &:active .menu_buttons {
    //         .menu_button {
    //             opacity: 0.5;
    //             transition: 0.2s ease-out;

    //             &:active {
    //                 opacity: 1;
    //                 transition: 0.2s ease-out;
    //             }
    //         }
    //     }
    // }
}