.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 56px;
    align-self: stretch;

    .buttons {
        display: flex;
        gap: 12px;
        width: 100%;
    }

    .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 56px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;

        .heading {
            color: var(--gray-40);
            text-align: center;

            /* 1920-0000/Headline/H_4 Vela */
            font-size: var(--fs-H_4-1920);
            font-style: normal;
            font-weight: var(--fw-H_4-1920);
            line-height: var(--lh-H_4-1920);
            letter-spacing: var(--ls-H_4-1920);
            text-transform: uppercase;
        }

        .menu_buttons {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            align-self: stretch;

            .menu_button {
                width: 100%;
                opacity: 1;
                padding-bottom: 32px;
                transition: 0.2s ease-out;
                cursor: pointer;
            }

            .menu_button:last-child {
                padding-bottom: 0px;
            }
        }


    }

    .small {
        gap: 24px;
        .menu_buttons {
            .menu_button {
                padding-bottom: 24px;
            }

            .menu_button:last-child {
                padding-bottom: 0px;
            }

        }
    }
}

@media (hover: hover) and (pointer: fine) {

    .container {
        &:hover .menu_buttons {
            .menu_button {
                opacity: 0.4;
                transition: 0.2s ease-out;

                &:hover {
                    opacity: 1;
                    transition: 0.2s ease-out;
                }
            }
        }
    }

 

}


@media (hover: none) and (pointer: coarse) {
    .menu {
        &:active .menu_buttons {
            .menu_button {
                opacity: 0.4;
                transition: 0.2s ease-out;

                &:active {
                    opacity: 1;
                    transition: 0.2s ease-out;
                }
            }
        }
    }

 
}

@media (max-width: 1439px) {
    .outerContainer {
        padding-top: 72px;
   align-items: flex-start;
   justify-content: flex-start;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-self: stretch;
    
        .buttons {
            display: flex;
            gap: 12px;
            width: 100%;
        }
    
        .bottom {
            flex-direction: row;
            gap: 24px;
        }
        .menu {
            width: 100%;
            gap: 24px;
            .heading {
                color: var(--gray-40);
                text-align: center;
          
                /* 1024/Headline/H_4 Vela */
                font-size: 14px;
                letter-spacing: 0.56px;
            }
    
            .menu_buttons {
    
                .menu_button {
              
                    padding-bottom: 20px;
                }
            }
    
    
        }
    
        .small {
            gap: 24px;
            .menu_buttons {
                .menu_button {
                    padding-bottom: 20px;
                }
            }
        }
    }
}
@media (max-width: 1023px) {
    
    .container {
        .bottom {
            flex-direction: column;
            gap: 32px;
        }
        .menu {
            width: 100%;
            gap: 16px;
    
            .menu_buttons {
    
                .menu_button {
              
                    padding-bottom: 16px;
                }
            }
        }
    
        .small {
            gap: 16px;
            .menu_buttons {
                .menu_button {
                    padding-bottom: 16px;
                }
            }
        }
    }

    
    
    
    @media (hover: none) and (pointer: coarse) {
        .menu {
            &:active .menu_buttons {
                .menu_button {
                    opacity: 1;
                    transition: 0.2s ease-out;
    
                    &:active {
                        opacity: 1;
                        transition: 0.2s ease-out;
                    }
                }
            }
        }
    
     
    }
}
@media (max-width: 767px) {
    
    .container {
   
        .menu {
            width: 100%;
            gap: 12px;
            .menu_buttons {
                .menu_button {
              
                    padding-bottom: 12px;
                }
            }
        }
    
        .small {
            gap: 16px;
            .menu_buttons {
                .menu_button {
                    padding-bottom: 12px;
                }
            }
        }
    }
}
@media (max-width: 479px) {
    
    .container {
        .menu {
           
            .heading {
                color: var(--gray-40);
                text-align: center;
          
                /* 1024/Headline/H_4 Vela */
                font-size: var(--fs-H_4-375);
                letter-spacing: var(--ls-H_4-375);
            }
    
            .menu_buttons {
    
                .menu_button {
              
                    padding-bottom: 20px;
                }
            }
    
    
        }
        .buttons {
            flex-direction: column;
            gap: 8px;
        }
    }
}