.container {
    display: inline-flex;
    padding: 48px 0px 80px 0px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 268px;
    width: 100%;
    position: relative;

}

.banners {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .inputsContainer {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .inputs {
        display: flex;
        gap: 24px;
    }

    .info {
        font-size: var(--fs-T_3-1920);
        font-style: normal;
        font-weight: var(--fw-T_3);
        line-height: var(--lh-T_3);
        letter-spacing: var(--ls-T_3-1920);
        color: var(--light-gray);
        border-radius: 12px;
        background: var(--gray-4);
        display: flex;
        min-width: 342px;
        padding: 20px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        flex: 1 0 0;
    }

    .button {
        display: flex;
        gap: 24px;
        width: 100%;

        .buttonItem {
            width: 100%;
        }

        .cost {
            display: flex;
            width: 342px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
            flex-shrink: 0;

            .toPay {
                font-size: var(--fs-T_3-1920);
                font-style: normal;
                font-weight: var(--fw-T_3);
                line-height: var(--lh-T_3);
                letter-spacing: var(--ls-T_3-1920);
                color: var(--gray-40);
                display: flex;
                align-items: center;
                gap: 4px;
            }

            .coins {
                display: flex;
                align-items: center;
                gap: 4px;
                overflow: hidden;
                color: var(--white);
                text-overflow: ellipsis;
                font-size: var(--fs-T_1-1920);
                font-style: normal;
                font-weight: var(--fw-T_1);
                line-height: var(--lh-T_1);
                letter-spacing: var(--ls-T_1-1920);

                .coin {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

@media (max-width: 1919px) {
    .container {
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 216px;
        width: 100%;
    }

    .banners {
        width: 168px;
    }

    .mainContent {

        .inputsContainer {
            gap: 32px;
        }

        .info {
            padding: 24px 32px;
            gap: 20px;
        }

        .button {
            .cost {
                width: 167px;
            }
        }
    }
}

@media (max-width: 1439px) {
    .container {
        display: flex;
        padding: 40px 0px 72px 0px;
        flex-direction: column;
        gap: 32px;
        width: 100%;
    }

    .banners {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
    }

    .mainContent {
        gap: 32px;

        .inputsContainer {
            gap: 16px;

            .inputs {
                gap: 16px;
            }
        }

        .info {
            font-size: var(--fs-T_3-1024);
            letter-spacing: var(--ls-T_3-1024);
            color: var(--light-gray);
            border-radius: 8px;
            padding: 24px 32px;
        }

        .button {

            gap: 16px;

            .cost {
                .toPay {
                    font-size: var(--fs-T_3-1024);
                    letter-spacing: var(--ls-T_3-1024);
                }

                width: 261px;

                .coins {
                    font-size: var(--fs-T_1-1024);
                    letter-spacing: var(--ls-T_1-1024);

                    .coin {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .container {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .banners {
        align-items: stretch;
    }

    .mainContent {

        .inputsContainer {
            .inputs {
                flex-direction: column;
            }
        }

        .info {
            font-size: var(--fs-T_3-768);
            letter-spacing: var(--ls-T_3-768);
            color: var(--light-gray);
            border-radius: 8px;
            padding: 24px 32px;
        }

        .button {


            .cost {
                width: 176px;

                .toPay {
                    font-size: var(--fs-T_3-768);
                    letter-spacing: var(--ls-T_3-768);
                }

                .coins {
                    font-size: var(--fs-T_1-768);
                    letter-spacing: var(--ls-T_1-768);
                }
            }
        }
    }
}


@media (max-width: 767px) {

    .container {
        padding: 24px 0 40px 0;
    }

    .banners {
        flex-direction: column;
        gap: 8px;
        order: 3;
        margin-top: 8px;
    }

    .mainContent {
        gap: 24px;

        .inputsContainer {

            .inputs {
                flex-direction: column;
            }
        }

        .info {
            font-size: var(--fs-T_3-480);
            letter-spacing: var(--ls-T_3-480);
            padding: 24px 24px;
        }

        .button {

            flex-direction: column;

            .buttonItem {
                order: 2;
            }

            .cost {
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                order: 1;
                width: 100%;

                .coins {
                    font-size: var(--fs-T_1-480);
                    letter-spacing: var(--ls-T_1-480);


                    .coin {
                        width: 18px;
                        height: 18px;
                    }
                }

                .toPay {
                    font-size: var(--fs-T_3-480);
                    letter-spacing: var(--ls-T_3-480);
                }
            }
        }
    }
}

@media (max-width: 479px) {



    .mainContent {

        .info {
            font-size: var(--fs-T_3-375);
            letter-spacing: var(--ls-T_3-375);
            padding: 16px;
            min-width: unset;
        }

        .button {

            .cost {

                .coins {
                    font-size: var(--fs-T_1-375);
                    letter-spacing: var(--ls-T_1-375);
                }

                .toPay {
                    font-size: var(--fs-T_3-375);
                    letter-spacing: var(--ls-T_3-375);
                }
            }
        }
    }
}