.container {
    display: inline-flex;
    padding: 48px 0px 80px 0px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 268px;
    width: 100%;
    position: relative;

}

.banners {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .inputsContainer {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .inputs {
        display: flex;
        gap: 24px;
    }

    .info {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 22.4px */
        letter-spacing: 0.32px;
        color: var(--light-gray);
        border-radius: 12px;
        background: var(--gray-4);
        display: flex;
        min-width: 342px;
        padding: 20px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        flex: 1 0 0;
    }

    .button {
        display: flex;
        gap: 24px;
        width: 100%;

        .buttonItem {
            width: 100%;
        }

        .cost {
            display: flex;
            width: 342px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
            flex-shrink: 0;

            .toPay {
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 22.4px */
                letter-spacing: 0.32px;
                color: var(--gray-40);
                display: flex;
                align-items: center;
                gap: 4px;
            }

            .coins {
                display: flex;
                align-items: center;
                gap: 4px;
                overflow: hidden;
                color: var(--white);
                text-overflow: ellipsis;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%;
                /* 25.2px */
                letter-spacing: 0.18px;
            }
        }
    }
}

@media (max-width: 1919px) {
    .container {
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 216px;
        width: 100%;
        // overflow: hidden;
    }

    .banners {
        width: 168px;
    }

    .mainContent {

        .inputsContainer {
            gap: 32px;
        }


        .info {
            padding: 24px 32px;
            gap: 20px;
        }

        .button {


            .cost {

                width: 167px;

            }
        }
    }
}

@media (max-width: 1439px) {
    .container {
        display: flex;
        padding: 40px 0px 72px 0px;
        flex-direction: column;
        gap: 32px;
        width: 100%;
    }

    .banners {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
    }

    .mainContent {
        gap: 32px;

        .inputsContainer {
            gap: 16px;

            .inputs {
                gap: 16px;
            }
        }

        .info {
            font-size: 15px;
            letter-spacing: 0.15px;
            color: var(--light-gray);
            border-radius: 8px;
            padding: 24px 32px;
        }

        .button {

            gap: 16px;

            .cost {

                width: 261px;

            }
        }
    }
}

@media (max-width: 1023px) {
    .container {
        display: flex;
        flex-direction: column;
 
        width: 100%;
    }

    .banners {
        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;
        // gap: 8px;
        // width: 100%;
        align-items: stretch;
    }

    .mainContent {

        .inputsContainer {

            // gap: 32px;
            .inputs {
                flex-direction: column;
            }
        }

        .info {
            font-size: 15px;
            letter-spacing: 0.15px;
            color: var(--light-gray);
            border-radius: 8px;
            padding: 24px 32px;
        }

        .button {


            .cost {
                width: 176px;
            }
        }
    }
}


@media (max-width: 767px) {

    .container {
        padding: 24px 0 40px 0;
    }

    .banners {
        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;
        // gap: 8px;
        // width: 100%;
        flex-direction: column;
        gap: 8px;
        order: 3;
        margin-top: 8px;
    }

    .mainContent {

        .inputsContainer {

            .inputs {
                flex-direction: column;
            }
        }

        .info {
            font-size: 14px;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 0.28px;
            padding: 24px 24px;
        }

        .button {

            flex-direction: column;

            .buttonItem {
                order: 2;
            }

            .cost {
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                order: 1;
                width: 100%;

                .coins {
                    font-size: 15px;
                    line-height: 140%;
                    /* 21px */
                    letter-spacing: 0.15px;
                }

                .toPay {
                    font-size: 14px;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 0.28px;
                }
            }
        }
    }
}

@media (max-width: 479px) {

     

    .mainContent {

        .info {
            font-size: 13px;
            line-height: 140%;
            /* 18.2px */
            letter-spacing: 0.13px;
            padding: 16px;
            min-width: unset;
        }

        .button {

            .cost {

                .coins {
                    font-size: 14px;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 0.14px;
                }

                .toPay {
                    font-size: 13px;
                    line-height: 140%;
                    /* 18.2px */
                    letter-spacing: 0.13px;
                }
            }
        }
    }
}

 