.bottomBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
    margin-bottom: 240px;
}

.bottom {
    display: flex;
    gap: 16px;
}

@media (max-width:1439px) {
    .bottomBlock {
 flex-direction: column;
    }
    
    .bottom {
        flex-direction: column;
    }  
}