.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 32px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 22.4px */
    letter-spacing: 0.32px;
    background-color: var(--accent-purple);
    border: none;
    color: var(--white);
    transition: 0.2s ease-out;
    gap: 12px;
max-height: 100%;
    &:disabled {
        opacity: 0.2;
        background: var(--accent-purple);
        cursor: default;
    }
}

 

.small {
    padding: 10px 24px;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 94%;
    /* 12.22px */
    letter-spacing: 0.39px;
}

@media (hover: hover) and (pointer: fine) {
    .button {
        &:hover {
            background: #6D52DC;
            transition: 0.2s ease-out;
        }

        &:disabled {
            &:hover {
                background: var(--accent-purple);
                ;
            }
        }
    }

}

@media (hover: none) and (pointer: coarse) {
    .button {
        &:active {
            background: #6D52DC;
            transition: 0.2s ease-out;
        }

        &:disabled {
            &:active {
                background: var(--accent-purple);
                ;
            }
        }
    }
}

@media (max-width: 1439px) {
    .button {
        font-size: 14px;
        letter-spacing: 0.28px;

    }

    .small {
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        /* 14.4px */
        letter-spacing: 0.36px;
        padding: 10px 24px;
    }
}

@media (max-width: 767px) {
    .button {
        padding: 20px 32px;
        font-size: 13px;
        letter-spacing: 0.26px;
border-radius: 4px;
    }

    .small {
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        /* 14.4px */
        letter-spacing: 0.36px;
        padding: 10px 24px;
        border-radius: 4px;
    }
}