.container {
    display: inline-flex;
    padding: 8px 8px 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    position: relative;

    .value {
        // width: 47px;
        white-space: nowrap;
        font-size: var(--fs-T_3-1920);
        font-style: normal;
        font-weight: var( --fw-T_3);
        line-height: var(--lh-T_3);
        letter-spacing: var(--ls-T_3-1920);
        color: var(--gray-40);
        transition: 0.2s ease-out;
    }

    .chevron {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;

        svg {
            path {

                transition: 0.2s ease-out;
            }
        }
    }

    .list {
        position: absolute;
        top: 0px;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 2px;
        z-index: 1;

        .item {
            background-color: var(--dark-gray);
            display: flex;

            color: var(--light-gray);

            font-size: var(--fs-T_3-1920);
            font-style: normal;
            font-weight: var( --fw-T_3);
            line-height: var(--lh-T_3);
            letter-spacing: var(--ls-T_3-1920);
        }

        .item:not(:first-child) {
            justify-content: flex-start;
        }

        .item:nth-child(1) {
            border-radius: 6px 6px 0 0;
        }

        .item:nth-child(3) {
            border-radius: 0 0 6px 6px;
        }
    }
}

.open {


    .value {
        color: var(--light-gray);
        transition: 0.2s ease-out;
    }
}

@media (hover: hover) and (pointer: fine) {
    .container {
        .item {
            &:hover {
                background-color: rgba(39, 37, 47, 1);
            }
        }

        &:hover {
            .value {
                color: var(--light-gray);
                transition: 0.2s ease-out;
            }

            .chevron {
                svg {
                    path {
                        stroke: #B2ACBF;
                        stroke-opacity: 1;
                        transition: stroke 0.2s ease-out;
                    }
                }
            }
        }
    }

}

@media (hover: none) and (pointer: coarse) {
    .container {
        .item {
            &:active {
                background-color: rgba(39, 37, 47, 1);
            }
        }

        &:active {

            .value {
                color: var(--light-gray);
                transition: 0.2s ease-out;
            }

            .chevron {
                svg {
                    path {
                        stroke: #B2ACBF;
                        stroke-opacity: 1;
                        transition: 0.2s ease-out;
                    }
                }
            }
        }
    }

}

@media (max-width: 1439px) {
    .container {
        .value {
            width: fit-content;
            min-width: fit-content;
            font-size: var(--fs-T_3-1024);
            letter-spacing: var(--ls-T_3-1024);
        }

        .list {

            .item {
                width: auto;
                min-width: fit-content;
                font-size: var(--fs-T_3-1024);
                letter-spacing: var(--ls-T_3-1024);
            }

        }
    }

}

@media (max-width: 767px) {
    .container {
        padding: 6px 8px 6px 12px;

        .value {
            font-size: var(--fs-T_3-480);
            letter-spacing: var(--ls-T_3-480);
        }

        .list {

            .item {
                font-size: var(--fs-T_3-480);
                letter-spacing: var(--ls-T_3-480);
            }

        }
    }

}

@media (max-width: 479px) {
    .container {


        .value {
            font-size: var(--fs-T_3-375);
            letter-spacing: var(--ls-T_3-375);
        }

        .list {

            .item {
                font-size: var(--fs-T_3-375);
                letter-spacing: var(--ls-T_3-375);
            }

        }
    }

}