.container {
    width: 100%;
    border-top: 1.5px solid var(--gray-4);
 
    

    .separator {
        width: 100%;
        min-height: 16px;

    }

    .buttons {
        display: flex;
        gap: 12px;
        justify-content: space-between;
    }
}


@media (max-width: 479px) {
    .container {
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: space-between;
    }
}
}