.container {
    width: 100%;


    .separator {
        width: 100%;
        min-height: 16px;
        border-top: 1.5px solid var(--gray-4);
    }

    .switcher {
        display: flex;
        justify-content: space-between;
        padding: 12px 16px;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        border-radius: 8px;
        background: var(--gray-4);
        color: var(--light-gray);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 22.4px */
        letter-spacing: 0.32px;
        margin-bottom: 12px;

        .points {
            display: flex;
            align-items: center;
            gap: 8px;

            .ruby {
                display: flex;
                align-items: center;
                gap: 4px;
                color: var(--white);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 22.4px */
                letter-spacing: 0.32px;
            }
        }
    }

    .buttons {
        display: flex;
        gap: 12px;
        justify-content: space-between;
    }

    .footer {
        display: flex;
        width: 100%;
        padding-top: 16px;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        row-gap: 2px;
        flex-wrap: wrap;

        .rights {
            color: var(--gray-15);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 16.8px */
            letter-spacing: 0.42px;
        }

        .links {
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            gap: 2px 8px;
            flex-wrap: wrap;
            color: var(--gray-40);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 16.8px */
            letter-spacing: 0.42px;

            .link {
                display: flex;
                padding-bottom: 3px;
                justify-content: center;
                align-items: center;
                gap: 8px;

                a {
                    text-decoration: none;
                }
            }
        }
    }
}



@media (max-width: 1439px) {
    .container {
        .switcher {
            font-size: var(--fs-T_3-1024);
            letter-spacing: var(--ls-T_3-1024);

            .points {
                .ruby {
                    font-size: var(--fs-T_3-1024);
                    letter-spacing: var(--ls-T_3-1024);
                }
            }
        }

        .footer {


            .rights {
                font-size: 12px;
                letter-spacing: 0.36px;
            }

            .links {
                font-size: 12px;
                letter-spacing: 0.36px;

                .link {
                    padding-bottom: 0px;
                    gap: 6px;
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .container {
        .switcher {
            font-size: var(--fs-T_3-768);
            letter-spacing: var(--ls-T_3-768);
        }

        .ruby {
            font-size: var(--fs-T_3-768);
            letter-spacing: var(--ls-T_3-768);
        }

        .footer {
            align-items: center;
            align-content: center;
            padding-top: 4px;

            .rights {
                font-size: 12px;
                letter-spacing: 0.36px;
            }

            .links {
                font-size: 12px;
                letter-spacing: 0.36px;
                align-items: center;
                align-content: center;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: space-between;
        }

        .switcher {
            font-size: var(--fs-T_3-480);
            letter-spacing: var(--ls-T_3-480);

            .points {
                .ruby {
                    font-size: var(--fs-T_3-480);
                    letter-spacing: var(--ls-T_3-480);
                }
            }
        }

        .footer {
            padding-top: 6px;

            .rights {
                font-size: 13px;
                letter-spacing: 0.39px;
            }

            .links {
                font-size: 13px;
                letter-spacing: 0.39px;
            }
        }

    }
}

@media (max-width: 479px) {
    .container {

        .switcher {
            font-size: var(--fs-T_3-375);
            letter-spacing: var(--ls-T_3-375);

            .points {
                .ruby {
                    font-size: var(--fs-T_3-375);
                    letter-spacing: var(--ls-T_3-375);
                }
            }
        }

        .footer {

            .rights {
                font-size: 12px;
                letter-spacing: 0.36px;
            }

            .links {
                font-size: 12px;
                letter-spacing: 0.36px;
            }
        }
    }
}