.pricing {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 25.2px */
    letter-spacing: 0.18px;

    .fromTo {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 5px;
        border-bottom: 1.5px var(--gray-15) dashed;


        input {
            color: var(--white);
            text-overflow: ellipsis;


            &:active {
                color: var(--white);
            }

            &:focus {
                color: var(--white);
            }

            &::-webkit-input-placeholder {
                color: var(--gray-40);
            }

            &::-moz-placeholder {
                color: var(--gray-40);
            }

            &:-ms-input-placeholder {
                color: var(--gray-40);
            }

            &::-ms-input-placeholder {
                color: var(--gray-40);
            }

            &::placeholder {
                color: var(--gray-40);
            }
        }
    }
}

@media (max-width: 1439px) {

    .pricing {
        font-size: 16px;
        line-height: 140%;
        /* 22.4px */
        letter-spacing: 0.16px;
    }

}

@media (max-width: 767px) {

    .pricing {
        font-size: 15px;
        letter-spacing: 0.15px;
        .fromTo {
            gap: 6px;
        }
    }

}

@media (max-width: 374px) {

    .pricing {
        font-size: 14px;
        letter-spacing: 0.14px;
    }

}