.search.activesearch {
    border: 1px solid var(--gray-15);
 
    // transition: 0.2s ease-out;
    max-height: 42px;
}



.search {


    width: 100%;
    display: flex;
    gap: 6px;
    padding: 10px;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px var(--gray-10) solid;
    // transition: 0.2s ease-out;
    background: var(--background-far);
 

    &:hover {

        border: 1px solid var(--gray-15);
       
        // transition: 0.2s ease-out;
    }

    & input {

        width: 100%;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22.4px;
        letter-spacing: 0.32px;
        outline: none;
        border: none;
        background-color: transparent;
        color: var(--white);
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #000;


        &::placeholder {
            color: var(--light-gray);
        }
    }


}


.shown {
    height: 0;
    padding: 0;
    border: none;

    input {
        height: 0;
    }

    &:hover {
        border: none;
    }

    svg {
        display: none;
    }
}

@media (max-width: 1439px) {
    .search.activesearch {
        border: 1px solid var(--gray-15);
     
        // transition: 0.2s ease-out;
        max-height: 40px;
    }

    .search {


        & input {

            font-size: 14px;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 0.14px;
        }
    }
}

@media (max-width: 1439px) {

    .search {
        max-height: 40px;

        & input {

            font-size: 14px;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 0.14px;
        }
    }
}

@media (max-width: 479px) {
    .search.activesearch {
        border: 1px solid var(--gray-15);
     
        // transition: 0.2s ease-out;
        max-height: 38px;
    }

    .search {


        & input {

            font-size: 13px;
            letter-spacing: 0.13px;
        }
    }
}