.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: var(--background-far);
}

.headingBlock {
    transition: opacity 0.5s ease-out;
    position: fixed;
    max-width: 1440px;
    top: 64px;
    z-index: -1;
}

.secondBlock {
    transform: translateY(100vh);
    z-index: 1;
    opacity: 1;
    background-color: var(--background-far);
}

.block {
    margin-top: 100vh;


}

.videoback {
    position: fixed;
    top: -45%;
    flex-shrink: 0;
    mix-blend-mode: lighten;
    z-index: -2;
}

.video {
    width: 960px;
    height: 960px;
    opacity: 0.2;
}


@media (max-width: 1919px) {
    .headingBlock {
        width: 1120px;
    }
}

@media (max-width: 1439px) {
    .headingBlock {
        width: 832px;
    }

 
    .video {
        width: 724px;
        height: 724px;
    }
}

@media (max-width: 1023px) {
    .headingBlock {
        width: 576px;
        height: 1024px;
        position: static;
    }

    .videoback {
        position: absolute;
        top: -9%;
        flex-shrink: 0;
        mix-blend-mode: lighten;
        z-index: -1;
    }
}
@media (max-width: 767px) {
    .headingBlock {
        width: 432px;
    }
}
@media (max-width: 479px) {
    .headingBlock {
        width: 327px;
    }
}
@media (max-width: 374px) {
    .headingBlock {
        width: 288px;
    }
}