.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 952px;
    flex: 0 0 auto;

    .heading {
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        /* 89.6px */
        letter-spacing: -1.28px;
        color: var(--white);
    }
}


@media (max-width: 1919px) {
    .container {
        width: 100%;
    }

}

@media (max-width: 1439px) {
    .container {

        .heading {
            font-size: var(--fs-H_5-1024);
            letter-spacing: var(--ls-H_5-1024);
        }
    }

}

@media (max-width: 1023px) {
    .container {

        .heading {
            font-size: var(--fs-H_5-768);
            letter-spacing: var(--ls-H_5-768);
        }
    }

}

@media (max-width: 767px) {
    .container {
        gap: 16px;

        .heading {
            font-size: var(--fs-H_5-480);
            letter-spacing: var(--ls-H_5-480);
        }
    }

}

@media (max-width: 479px) {
    .container {

        .heading {
            font-size: var(--fs-H_5-375);
            letter-spacing: var(--ls-H_5-375);
        }
    }

}