.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

    .heading {
        overflow: hidden;
        color: var(--white);
        text-overflow: ellipsis;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        /* 50.4px */
        letter-spacing: 0.36px;
    }

    .order {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;

        .string {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            overflow: hidden;
            color: var(--gray-40);
            text-overflow: ellipsis;
            font-size: 17px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            /* 20.4px */
        }

        span {
            overflow: hidden;
            color: var(--white);
            text-overflow: ellipsis;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            /* 25.2px */
            letter-spacing: -0.18px;


        }

        .green {
            span {
                color: var(--green-100);
            }

          
            }
       
        .line {
            min-height: 1px;
            width: 100%;
            background-color: var(--gray-10);
            margin: 8px 0 20px;
        }

        .hidden {
            max-height: 0px;
            transition: 0.2s ease-out;
            overflow: hidden;
        }

  

        .visible {

            max-height: 25px;
            transition: max-height 0.2s ease-out;
        }

        .toPay {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--gray-40);
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            /* 28.8px */
            letter-spacing: 0.24px;
            margin-bottom: 20px;

            .addition {
                display: flex;
                gap: 8px;

                .ruby {
                    display: flex;
                    padding: 5px 8px;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    border-radius: 8px;
                    background: var(--gray-4);
                    color: var(--white);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                    /* 16.8px */
                    letter-spacing: 0.42px;
                }

                .coin {
                    display: flex;
                    gap: 6px;
                    color: var(--white);
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%;
                    /* 28.8px */
                    letter-spacing: 0.24px;
                }
            }
        }
    }

    .payment {
        display: flex;
        flex-direction: column;
        gap: 24px;
        overflow: hidden;
        color: var(--gray-40);
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 94%;
        /* 12.22px */
        letter-spacing: 0.39px;
    }
}