.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding-top: 16px;

    .heading {
        overflow: hidden;
        color: var(--white);
        text-overflow: ellipsis;
        font-size:  var(--fs-H_6-1920);
        font-style: normal;
        font-weight:  var(--fw-H_6);
        line-height:  var(--lh-H_6-1920);
        letter-spacing:  var(--ls-H_6-1920);
    }

    .order {
        display: flex;
        flex-direction: column;

        width: 100%;

        .string {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            overflow: hidden;
            color: var(--gray-40);
            text-overflow: ellipsis;
            font-size:  var(--fs-T_2-1920);
            font-style: normal;
            font-weight: var(--fw-T_2);
            line-height: var(--lh-T_2);
            margin-bottom: 12px;
        }

        span {
            overflow: hidden;
            color: var(--white);
            text-overflow: ellipsis;
            font-size: var(--fs-T_1-1920);
            font-style: normal;
            font-weight: var(--fw-T_1-Bold);
            line-height: var(--lh-T_1);
            letter-spacing: var(--ls-T_1-Bold-1920);


        }

        .green {
            span {
                color: var(--green-100);
            }


        }

        .line {
            min-height: 1px;
            width: 100%;
            background-color: var(--gray-10);
            margin: 8px 0 20px;
        }

        .hidden {
            max-height: 0px;
            transition: 0.2s ease-out;
            overflow: hidden;
            margin-bottom: 0;
        }



        .visible {

            max-height: 25px;
            transition: max-height 0.2s ease-out;
        }

        .toPay {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--gray-40);
            font-size: var(--fs-H_7-1920);
            font-style: normal;
            font-weight: var(--fw-H_7);
            line-height: var(--lh-H_7-1920);
            letter-spacing: var(--ls-H_7-1920);
            margin-bottom: 32px;

            .addition {
                display: flex;
                gap: 8px;

                .ruby {
                    display: flex;
                    padding: 5px 8px;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    border-radius: 8px;
                    background: var(--gray-4);
                    color: var(--white);
                    font-size: var(--fs-C_1-1920);
                    font-style: normal;
                    font-weight: var(--fw-C_1);
                    line-height: var(--lh-C_1);
                    letter-spacing: var(--ls-C_1-1920);
                }

                .coin {
                    display: flex;
                    gap: 6px;
                    color: var(--white);
                    font-size: var(--fs-H_7-1920);
                    font-style: normal;
                    font-weight: var(--fw-H_7);
                    line-height: var(--lh-H_7-1920);
                    letter-spacing: var(--ls-H_7-1920);
                }
            }
        }
    }

    .payment {
        display: flex;
        flex-direction: column;
        gap: 24px;
        overflow: hidden;
        color: var(--gray-40);
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: var(--fs-C_2-1920);
        font-style: normal;
        font-weight: var(--fw-C_2);
        line-height: var(--lh-C_2);
        letter-spacing: var(--ls-C_2-1920);
    }
}


@media (max-width: 1919px) {
    .container {
        padding-top: 0px;

        .heading {
            font-size: var(--fs-H_6-1920);
            font-weight: var(--fw-H_6);
            line-height: var(--lh-H_6-1920);
            letter-spacing: var(--ls-H_6-1920);
        }

        .order {

            .string {
                font-size: var(--fs-T_2-1920);
                font-weight: var(--fw-T_2);
                line-height: var(--lh-T_2);
            }

            span {
                font-size: var(--fs-T_1-1920);
                font-weight: var(--fw-T_1-Bold);
                line-height: var(--lh-T_1);
                letter-spacing: var(--ls-T_1-Bold-1920);
                ;
            }

            .toPay {
                font-size: var(--fs-H_7-1920);
                font-weight: var(--fw-H_7);
                line-height: var(--lh-H_7-1920);
                letter-spacing: var(--ls-H_7-1920);

                .addition {

                    .ruby {
                        font-size: var(--fs-C_1-1920);
                        font-style: normal;
                        font-weight: var(--fw-C_1);
                        line-height: var(--lh-C_1);
                        letter-spacing: var(--ls-C_1-1920);
                    }

                    .coin {
                        font-size: var(--fs-H_7-1920);
                        font-weight: var(--fw-H_7);
                        line-height: var(--lh-H_7-1920);
                        letter-spacing: var(--ls-H_7-1920);
                    }
                }
            }
        }

        .payment {
            font-size: var(--fs-C_2-1920);
            font-weight: var(--fw-C_2);
            line-height: var(--lh-C_2);
            letter-spacing: var(--ls-C_2-1920);
        }
    }
}

@media (max-width: 1439px) {
    .container {
        gap: 20px;

        .heading {
            font-size: var(--fs-H_5-1024);
            font-weight: var(--fw-H_5);
            line-height: var(--lh-H_5-1920);
            letter-spacing: var(--ls-H_5-1024);
        }

        .order {

            .string {
                font-size: var(--fs-T_2-1024);
                line-height: var(--lh-T_2-1024);
                margin-bottom: 8px;
            }

            .hidden {
                margin-bottom: 0px;
            }

            span {
                font-size: var(--fs-T_1-1024);
                letter-spacing: var(--ls-T_1-1024);
            }

            .line {
                min-height: 1px;
                width: 100%;
                background-color: var(--gray-10);
                margin: 0px 0 16px;
            }

            .toPay {
                font-size: var(--fs-H_7-1024);
                letter-spacing: var(--ls-H_7-1024);
                margin-bottom: 20px;

                .addition {

                    .ruby {
                        font-size: var(--fs-C_1-1024);
                        letter-spacing: var(--ls-C_1-1024);
                    }

                    .coin {
                        font-size: var(--fs-H_7-1024);
                        letter-spacing: var(--ls-H_7-1024);
                    }
                }
            }
        }

        .payment {
            margin-top: 12px;
            font-size: var(--fs-C_2-1920);
            font-weight: var(--fw-C_2);
            line-height: var(--lh-C_2);
            letter-spacing: var(--ls-C_2-1920);
            margin-bottom: 12px;
        }
    }
}

@media (max-width: 1023px) {
    .container {


        .heading {
            font-size: var(--fs-H_6-768);
            font-weight: var(--fw-H_6);
            letter-spacing: var(--ls-H_6-768);
        }

        .order {

            .string {
                font-size: var(--fs-T_2-768);
                line-height: var(--lh-T_2-768);
            }

            .hidden {
                margin-bottom: 0px;
            }

            span {
                font-size: var(--fs-T_1-768);
                letter-spacing: var(--ls-T_1-768);
            }



            .toPay {
                font-size: var(--fs-H_7-768);
                letter-spacing: var(--ls-H_7-768);

                .addition {
                    .coin {
                        font-size: var(--fs-H_7-768);
                        letter-spacing: var(--ls-H_7-768);
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        gap: 16px;

        .heading {
            font-size: var(--fs-H_6-480);
            font-weight: var(--fw-H_6);
            letter-spacing: var(--ls-H_6-480);
        }

        .order {

            .string {
                font-size: var(--fs-T_2-480);
                line-height: var(--lh-T_2-480);
                margin-bottom: 4px;
            }

            .hidden {
                margin-bottom: 0px;
            }

            span {
                font-size: var(--fs-T_1-480);
                letter-spacing: var(--ls-T_1-480);
            }

            .line {
                margin: 8px 0 12px;
            }


            .toPay {
                font-size: var(--fs-H_6-480);
                letter-spacing: var(--ls-H_6-480);
                margin-bottom: 12px;

                .addition {
                    .coin {
                        font-size: var(--fs-H_6-480);
                        letter-spacing: var(--ls-H_6-480);
                    }
                }
            }
        }

        .payment {
            margin-top: 8px;
            gap: 12px;
            margin-bottom: 8px;
        }
    }
}
@media (max-width: 479px) {
    .container {
        

        .heading {
            font-size: var(--fs-H_6-375);
            font-weight: var(--fw-H_6);
            letter-spacing: var(--ls-H_6-375);
        }

        .order {

            .string {
                font-size: var(--fs-T_2-375);
                line-height: var(--lh-T_2-375);
                margin-bottom: 2px;
            }

            .hidden {
                margin-bottom: 0px;
            }

            span {
                font-size: var(--fs-T_1-375);
                letter-spacing: var(--ls-T_1-375);
            }

            .line {
                margin: 8px 0 12px;
            }


            .toPay {
                font-size: var(--fs-H_7-375);
                letter-spacing: var(--ls-H_7-375);
                margin-bottom: 12px;

                .addition {
                    .coin {
                        font-size: var(--fs-H_7-375);
                        letter-spacing: var(--ls-H_7-375);
                    }
                }
            }
        }

        .payment {
            margin-top: 8px;
            gap: 12px;
            margin-bottom: 8px;
        }
    }
} 