.product_img {
    max-height: 708px;
    // max-width: 708px;
    max-width: 100%;
    flex: 1 0 50%;
    overflow: hidden;
    position: sticky;
    top: 145px;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;

    .sliderContainer {
        position: relative;
        width: 100%;
        height: 100%;

        .dotsContainer {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: -50%;

            gap: 4px;
            z-index: 1;

            width: 24px;
            overflow: hidden;
            transform: translateX(-50%);
            padding: 0 1px;
            transition: 0.2s ease-out;
            display: flex;
            align-items: center;

            .dots {
                display: flex;
                align-items: center;
                height: 6px;
                width: fit-content;
                gap: 4px;

                transition: 0.2s ease-out;


                .dot {
                    height: 4px;
                    width: 4px;
                    background-color: grey;
                    border-radius: 50%;
                }

                .activeDot {
                    height: 6px;
                    width: 6px;
                    background-color: #fff;
                    border-radius: 50%;
                }
            }
        }
    }


    .slider {
        display: flex;
        gap: 16px;
        overflow-x: scroll;
        max-height: 100%;
        min-height: 100%;
        scrollbar-width: none;
        scroll-behavior: smooth;
        position: relative;
        transform: matrix3d(0, 0, 0);

        &::-webkit-scrollbar {
            display: none;
        }

        .slide {
            min-width: 708px;
            max-height: 100%;
            background-color: var(--dark-gray);
            border-radius: 12px;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

}

@media (min-width:1921px) {

    .product_img {
        min-height: 732px;
        min-width: 732px;
        top: 0;

        .slider {
            .slide {
                min-width: 732px;
                border-radius: 9.288px;
            }
        }
    }


}


@media (max-width: 1919px) {

    .product_img {
        border-radius: 9.288px;
        width: 100%;
        max-height: 548px;

        .slider {
            .slide {
                min-width: 548px;
                border-radius: 9.288px;
            }
        }

    }

}

@media (max-width: 1439px) {
    .product_img {
        border-radius: 8px;
        max-height: 404px;

        .slider {
            .slide {
                min-width: 404px;
                border-radius: 8px;

            }
        }

    }

}

@media (max-width: 1023px) {

    .product_img {
        max-height: 417px;
        min-height: 417px;
        position: static;

        .slider {
            .slide {
                min-width: 404px;
                max-width: 404px;
                min-height: 404px;
            }
        }

    }

}

@media (max-width: 767px) {
    .product_img {
        max-height: 360px;
        min-height: 360px;
        border-radius: 4px;

        .slider {
            .slide {
                min-width: 360px;
                max-width: 360px;
                border-radius: 4px;
                min-height: 360px;
            }
        }
    }
}

@media (max-width: 479px) {


    .product_img {
        max-height: 272px;
        min-height: 272px;
        border-radius: 4px;

        .slider {
            gap: 8px;

            .slide {
                min-width: 272px;
                max-width: 272px;
                border-radius: 4px;
                min-height: 272px;
            }
        }
    }


    // .product_img {

    //     height: 272px;

    //     min-height: 272px;
    //     width: 100%;
    //     background-color: red;

    //     .slider {
    //         display: flex;
    //         gap: 16px;
    //         overflow-x: scroll;
    //         overflow-y: hidden;
    //         width: 100%;
    //         // max-width: 708px;
    //         // max-height: 100%;
    //         // min-height: 100%;
    //         // width: 100%;
    //         max-height: 272px;
    //         min-height: 272px;
    //         border: 2px solid green;

    //         .slide {
    //             max-height: 100%;
    //             min-height: 272px;
    //         }

    //         img {
    //             max-height: 100%;
    //             max-height: 100%;
    //             min-height: 272px;
    //             object-fit: contain;

    //             background-color: var(--dark-gray);
    //         }
    //     }
    // }

}