 

.textBlock {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 160px 0px;
    // justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
    overflow: hidden;
    background: var(--background-far);
    .word {
        display: inline-block;


        .span {
            display: inline-block;
            align-self: stretch;
            color: var(--white);

            /* 1920-0000/Headline/H_5 Vela */
            font-size: var(--fs-H_5-1920);
            font-style: normal;
            font-weight: var(--fw-H_5);
            line-height: var(--lh-H_5-1920);
            letter-spacing: var(--ls-H_5-1920);
            position: relative;
       
        }

        .accent {
            color: var(--accent-color);
        }

        // margin-right: 12px;


        .shadow {
            color: var(--gray-10-transparacy);
            position: absolute;
            font-size: var(--fs-H_5-1920);
            font-style: normal;
            font-weight: var(--fw-H_5);
            line-height: var(--lh-H_5-1920);
            letter-spacing: var(--ls-H_5-1920);


        }

    }

}


@media (max-width:1439px) {

    .textBlock {
        display: flex;
        width: 100%;
        min-height: 100vh;
        padding: 96px 0px;
        // justify-content: center;
        align-items: center;
        // flex-wrap: wrap;
        overflow: hidden;
        background: var(--background-far);
        .word {
            display: inline-block;
    
    
            .span {
                font-size: var(--fs-H_5-1024);
                letter-spacing: var(--ls-H_5-1024);
           
            }
    
            .accent {
                color: var(--accent-color);
            }   
    
            .shadow {
                font-size: var(--fs-H_5-1024);
                letter-spacing: var(--ls-H_5-1024);
            }
    
        }
    
    }
}