.textBlock {
  display: flex;
  width: 1920px;
  height: 900px;
  padding: 160px 240px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;

  .text {
    display: flex;
    flex-wrap: wrap;
  }
  .green {
    color: var(--accent-color);
  }
  p {
    align-self: stretch;
    color: var(--white);
    opacity: 0.1;
    /* 1920-0000/Headline/H_5 Vela */
    font-size: var(--fs-H_5-1920);
    font-style: normal;
    font-weight: var(--fw-H_5);
    line-height: var(--lh-H_5-1920);
    letter-spacing: var(--ls-H_5-1920);

   
  }
}


// .paragraph{
// height: 900px;
//     display: flex;


//     flex-wrap: wrap;
//     overflow: hidden;
//     align-self: stretch;
//     color: var(--white);
//     opacity: 1;
//     /* 1920-0000/Headline/H_5 Vela */
//     font-size: var(--fs-H_5-1920);
//     font-style: normal;
//     font-weight: var(--fw-H_5);
//     line-height: var(--lh-H_5-1920);
//     letter-spacing: var(--ls-H_5-1920);

//     .span {
//         color: var(--accent-color);
//     }
//     .word{

//       position: relative;

//       margin-right: 12px;

//       margin-top: 12px;

//       .shadow{

//         position: absolute;

//         opacity: 20%;

//       }

//     } 

//   }