.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    // background-image: linear-gradient(to right, var(--gray-15) 70%, transparent 50%);
    // background-position: -80% 100%;
    // background-repeat: repeat-x;
    // background-size: 8px 1.5px;
    padding-bottom: 3px;
    border-bottom: 2.5px dashed var(--gray-15);

    // background-color: var(--background-far);
}

.invalid {
    border-bottom: 2.5px dashed var(--red-100);
}


.title {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .noteContainer {
        display: flex;
        gap: 4px;
        align-items: center;
        width: fit-content;
        flex-wrap: wrap;

        .info {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            color: var(--gray-40);
            text-overflow: ellipsis;
            font-size: var(--fs-T_3-1920);
            font-style: normal;
            font-weight: var(--fw-T_3);
            line-height: var(--lh-T_3);
            letter-spacing: var(--ls-T_3-1920);
            flex: 0 0 auto;
        }

        .addInfo {
            color: var(--white);
            font-size: var(--fs-T_3-1920);
            font-style: normal;
            font-weight: var(--fw-T_3);
            line-height: var(--lh-T_3);
            letter-spacing: var(--ls-T_3-1920);
        }
    }

    .heading {
        color: var(--white);
        font-size: var(--fs-T_3-1920);
        font-style: normal;
        font-weight: var(--fw-T_3);
        line-height: var(--lh-T_3);
        letter-spacing: var(--ls-T_3-1920);
        display: flex;
        gap: 8px;
        flex-wrap: wrap;



        .ok {
            color: var(--accent-color);
        }

        .error {
            color: var(--red-100);
        }
    }

}

.inputWrapper {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;

}

.wrapper {
    display: flex;
    align-items: center;
}

.input {
    color: var(--white);
    text-overflow: ellipsis;
    letter-spacing: inherit;
    border: none;
    outline: none;
    width: 100%;
    outline: none;
    font-size: var(--fs-T_1-1920);
    font-style: normal;
    font-weight: var(--fw-T_1);
    line-height: var(--lh-T_1);
    letter-spacing: var(--ls-T_1-1920);
    flex: 1 1 auto;

    &::placeholder {
        font-size: var(--fs-T_1-1920);
        font-style: normal;
        font-weight: var(--fw-T_1);
        line-height: var(--lh-T_1);
        letter-spacing: var(--ls-T_1-1920);
        color: var(--gray-40);
        transition: 0.2s ease-out;
        display: none;

    }
}

.inputFakeValueWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    visibility: hidden;
    user-select: none;
    pointer-events: none;


    text-overflow: ellipsis;

    border: none;
    outline: none;
    transition: 0.2s ease-out;

    span {
        color: var(--white);
        font-size: var(--fs-T_1-1920);
        font-style: normal;
        font-weight: var(--fw-T_1);
        line-height: var(--lh-T_1);
        letter-spacing: var(--ls-T_1-1920);
        transition: 0.2s ease-out;

    }

}

// .inputFakeValue {
//     overflow: hidden;
// }

.suffix {
    visibility: visible;
    height: 100%;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    border: none;
    outline: none;
}

.addition {

    justify-self: flex-end;
    display: flex;
    gap: 3px;
    align-items: center;

    .promo {
        display: flex;
        padding-right: 6px;
        align-items: center;
        gap: 3px;
    }
}

.helpButton {
    position: relative;
}

.tooltip {
    position: absolute;
    // bottom: 120%;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);



}

.coin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

@media (hover: hover) and (pointer: fine) {
    .container {

        &:hover:not(.invalid) {




            border-bottom: 2.5px dashed var(--gray-40);
            transition: 0.2s ease-out;

            .input {


                &::placeholder {
                    transition: 0.2s ease-out;
                    color: var(--light-gray);
                }
            }
        }
    }




}

@media (hover: none) and (pointer: coarse) {
    .container {

        &:active:not(.invalid) {

            border-bottom: 2.5px dashed var(--gray-40);
            transition: 0.2s ease-out;

            .input {


                &::placeholder {
                    transition: 0.2s ease-out;
                    color: var(--light-gray);
                }
            }
        }
    }

}


@media (max-width: 1439px) {

    .title {

        .heading {
            font-size: var(--fs-T_3-1024);
            letter-spacing: var(--ls-T_3-1024);
            gap: 4px;

        }

        .noteContainer {

            .info {

                font-size: var(--fs-T_3-1024);
                letter-spacing: var(--ls-T_3-1024);
            }

            .addInfo {
                font-size: var(--fs-T_3-1024);
                letter-spacing: var(--ls-T_3-1024);
            }
        }

    }

    .input {
        font-size: var(--fs-T_1-1024);
        letter-spacing: var(--ls-T_1-1024);

        &::placeholder {
            font-size: var(--fs-T_1-1024);
            letter-spacing: var(--ls-T_1-1024);
        }
    }

    .inputFakeValueWrapper {
        span {
            font-size: var(--fs-T_1-1024);
            letter-spacing: var(--ls-T_1-1024);
        }

    }

}

@media (max-width: 1023px) {
    .container {
        gap: 8px;
        padding-bottom: 0px;
    }

    .title {

        .heading {
            font-size: var(--fs-T_3-768);
            letter-spacing: var(--ls-T_3-768);
        }

    }

    .input {
        font-size: var(--fs-T_1-768);
        letter-spacing: var(--ls-T_1-768);

        &::placeholder {
            font-size: var(--fs-T_1-768);
            letter-spacing: var(--ls-T_1-768);
        }
    }

    .inputFakeValueWrapper {
        span {
            font-size: var(--fs-T_1-768);
            letter-spacing: var(--ls-T_1-768);
        }

    }

}

@media (max-width:767px) {
    .container {
        gap: 6px;

    }

    .title {
        display: flex;
        gap: 8px;

        .noteContainer {

            .info {
                font-size: var(--fs-T_3-480);
                letter-spacing: var(--ls-T_3-480);
            }

            .addInfo {
                font-size: var(--fs-T_3-480);
                letter-spacing: var(--ls-T_3-480);
            }
        }

        .heading {
            font-size: var(--fs-T_3-480);
            letter-spacing: var(--ls-T_3-480);

        }

    }

    .input {
        font-size: var(--fs-T_1-480);
        letter-spacing: var(--ls-T_1-480);

        &::placeholder {
            font-size: var(--fs-T_1-480);
            letter-spacing: var(--ls-T_1-480);
        }
    }

    .inputFakeValueWrapper {
        span {
            font-size: var(--fs-T_1-480);
            letter-spacing: var(--ls-T_1-480);
        }

    }

    .addition {
        // gap: 4px;
        // padding-bottom: 4px;
    }

    .tooltip {
        // position: absolute;
        // // bottom: 120%;
        // bottom: 32px;
        // left: 50%;
        // transform: translateX(-50%);



    }

}

@media (max-width:479px) {
    .container {
        padding-bottom: 3px;
    }

    .title {

        .heading {
            font-size: var(--fs-T_3-375);
            letter-spacing: var(--ls-T_3-375);

        }

        .noteContainer {

            .info {
                font-size: var(--fs-T_3-375);
                letter-spacing: var(--ls-T_3-375);
            }

            .addInfo {
                font-size: var(--fs-T_3-375);
                letter-spacing: var(--ls-T_3-375);
            }
        }
    }

    .input {
        font-size: var(--fs-T_1-375);
        letter-spacing: var(--ls-T_1-375);

        &::placeholder {
            font-size: var(--fs-T_1-375);
            letter-spacing: var(--ls-T_1-375);
        }
    }

    .inputFakeValueWrapper {
        span {
            font-size: var(--fs-T_1-375);
            letter-spacing: var(--ls-T_1-375);
        }

    }
}