.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    // background-image: linear-gradient(to right, var(--gray-15) 70%, transparent 50%);
    // background-position: -80% 100%;
    // background-repeat: repeat-x;
    // background-size: 8px 1.5px;
    border-bottom: 2.5px dashed var(--gray-15);
    padding-bottom: 3px;
    // background-color: var(--background-far);
    background-color: transparent;
    transition: 0.2s ease-out;
}

.invalid {
    border-bottom: 2.5px dashed var(--red-100);
    transition: 0.2s ease-out;
}

.active {
    border-bottom: 2.5px dashed var(--gray-40);
    transition: 0.2s ease-out;
}



.title {
    color: var(--white);
    font-size: var(--fs-T_3-1920);
    font-style: normal;
    font-weight: var(--fw-T_3);
    line-height: var(--lh-T_3);
    letter-spacing: var(--ls-T_3-1920);
    display: flex;
    gap: 8px;

    .ok {
        color: var(--accent-color);
    }

    .error {
        color: var(--red-100);
    }
}

.inputWrapper {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
}

.wrapper {
    display: flex;
}

.input {
    color: var(--white);
    text-overflow: ellipsis;
    letter-spacing: inherit;
    border: none;
    outline: none;
    width: 100%;
    outline: none;
    font-size: var(--fs-H_6-1920);
    font-style: normal;
    font-weight: var(--fw-H_6);
    line-height: var(--lh-H_6-1920);

    letter-spacing: var(--ls-H_6-1920);

    &::-webkit-input-placeholder {
        font-size: var(--fs-H_6-1920);
        font-style: normal;
        font-weight: var(--fw-H_6);
        line-height: var(--lh-H_6-1920);
        letter-spacing: var(--ls-H_6-1920);
        color: var(--gray-40);
    }

    &::-moz-placeholder {
        font-size: var(--fs-H_6-1920);
        font-style: normal;
        font-weight: var(--fw-H_6);
        line-height: var(--lh-H_6-1920);
        letter-spacing: var(--ls-H_6-1920);
        color: var(--gray-40);
    }

    &:-ms-input-placeholder {
        font-size: var(--fs-H_6-1920);
        font-style: normal;
        font-weight: var(--fw-H_6);
        line-height: var(--lh-H_6-1920);
        letter-spacing: var(--ls-H_6-1920);
        color: var(--gray-40);
    }

    &::-ms-input-placeholder {
        font-size: var(--fs-H_6-1920);
        font-style: normal;
        font-weight: var(--fw-H_6);
        line-height: var(--lh-H_6-1920);
        letter-spacing: var(--ls-H_6-1920);
        color: var(--gray-40);
    }

    &::placeholder {
        font-size: var(--fs-H_6-1920);
        font-style: normal;
        font-weight: var(--fw-H_6);
        line-height: var(--lh-H_6-1920);
        letter-spacing: var(--ls-H_6-1920);
        color: var(--gray-40);
    }
}

.inputFakeValueWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    visibility: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;


    text-overflow: ellipsis;

    border: none;
    outline: none;


    span {
        color: var(--white);
        font-size: var(--fs-H_6-1920);
        font-style: normal;
        font-weight: var(--fw-H_6);
        line-height: var(--lh-H_6-1920);
        letter-spacing: var(--ls-H_6-1920);
    }

}



.suffix {
    visibility: visible;
    height: 100%;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    border: none;
    outline: none;
}

.addition {
    justify-self: flex-end;
    display: flex;
    gap: 6px;
    align-items: center;
}

.helpButton {
    position: relative;
}

.tooltip {
    position: absolute;
    // bottom: 120%;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
}

.coin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

@media (hover: hover) and (pointer: fine) {
    .container {

        &:hover:not(.invalid) {
            border-bottom: 2.5px dashed var(--gray-40);
            transition: 0.2s ease-out;
        }
    }
}

@media (hover: none) and (pointer: coarse) {
    .container {

        &:active:not(.invalid) {
            border-bottom: 2.5px dashed var(--gray-40);
            transition: 0.2s ease-out;

        }
    }

}


@media (max-width: 1439px) {

    .title {
        font-size: var(--fs-T_3-1024);
        letter-spacing: var(--ls-T_3-1024);
    }

    .input {
        font-size: var(--fs-H_6-1024);
        letter-spacing: var(--ls-H_6-1024);

        &::-webkit-input-placeholder {
            font-size: var(--fs-H_6-1024);
            letter-spacing: var(--ls-H_6-1024);
        }

        &::-moz-placeholder {
            font-size: var(--fs-H_6-1024);
            letter-spacing: var(--ls-H_6-1024);
        }

        &:-ms-input-placeholder {
            font-size: var(--fs-H_6-1024);
            letter-spacing: var(--ls-H_6-1024);
        }

        &::-ms-input-placeholder {
            font-size: var(--fs-H_6-1024);
            letter-spacing: var(--ls-H_6-1024);
        }

        &::placeholder {
            font-size: var(--fs-H_6-1024);
            letter-spacing: var(--ls-H_6-1024);
        }
    }

    .inputFakeValueWrapper {
        span {
            font-size: var(--fs-H_6-1024);
            letter-spacing: var(--ls-H_6-1024);
        }

    }

}

@media (max-width: 1023px) {
    .container {
        gap: 6px;
    }

    .title {
        font-size: var(--fs-T_3-768);
        letter-spacing: var(--ls-T_3-768);
    }

    .input {
        font-size: var(--fs-H_6-768);
        letter-spacing: var(--ls-H_6-768);

        &::-webkit-input-placeholder {
            font-size: var(--fs-H_6-768);
            letter-spacing: var(--ls-H_6-768);
        }

        &::-moz-placeholder {
            font-size: var(--fs-H_6-768);
            letter-spacing: var(--ls-H_6-768);
        }

        &:-ms-input-placeholder {
            font-size: var(--fs-H_6-768);
            letter-spacing: var(--ls-H_6-768);
        }

        &::-ms-input-placeholder {
            font-size: var(--fs-H_6-768);
            letter-spacing: var(--ls-H_6-768);
        }

        &::placeholder {
            font-size: var(--fs-H_6-768);
            letter-spacing: var(--ls-H_6-768);
        }
    }

    .inputFakeValueWrapper {
        span {
            font-size: var(--fs-H_6-768);
            letter-spacing: var(--ls-H_6-768);
        }

    }

}

@media (max-width:767px) {

    .title {
        font-size: var(--fs-T_3-480);
        letter-spacing: var(--ls-T_3-480);
    }

    .input {
        font-size: var(--fs-H_6-480);
        letter-spacing: var(--ls-H_6-480);

        &::-webkit-input-placeholder {
            font-size: var(--fs-H_6-480);
            letter-spacing: var(--ls-H_6-480);
        }

        &::-moz-placeholder {
            font-size: var(--fs-H_6-480);
            letter-spacing: var(--ls-H_6-480);
        }

        &:-ms-input-placeholder {
            font-size: var(--fs-H_6-480);
            letter-spacing: var(--ls-H_6-480);
        }

        &::-ms-input-placeholder {
            font-size: var(--fs-H_6-480);
            letter-spacing: var(--ls-H_6-480);
        }

        &::placeholder {
            font-size: var(--fs-H_6-480);
            letter-spacing: var(--ls-H_6-480);
        }
    }

    .inputFakeValueWrapper {
        span {
            font-size: var(--fs-H_6-480);
            letter-spacing: var(--ls-H_6-480);
        }

    }

    .addition {
        gap: 4px;
        padding-bottom: 4px;
    }
}

@media (max-width:479px) {

    .title {
        font-size: var(--fs-T_3-375);
        letter-spacing: var(--ls-T_3-375);
    }

    .input {
        font-size: var(--fs-H_6-375);
        letter-spacing: var(--ls-H_6-375);

        &::-webkit-input-placeholder {
            font-size: var(--fs-H_6-375);
            letter-spacing: var(--ls-H_6-375);
        }

        &::-moz-placeholder {
            font-size: var(--fs-H_6-375);
            letter-spacing: var(--ls-H_6-375);
        }

        &:-ms-input-placeholder {
            font-size: var(--fs-H_6-375);
            letter-spacing: var(--ls-H_6-375);
        }

        &::-ms-input-placeholder {
            font-size: var(--fs-H_6-375);
            letter-spacing: var(--ls-H_6-375);
        }

        &::placeholder {
            font-size: var(--fs-H_6-375);
            letter-spacing: var(--ls-H_6-375);
        }
    }

    .inputFakeValueWrapper {
        span {
            font-size: var(--fs-H_6-375);
            letter-spacing: var(--ls-H_6-375);
        }
    }
}