.radiobutton {


    input {
        display: none;


    }

    label {
        cursor: pointer;
        display: flex;
        gap: 8px;
        align-items: center;

        &:hover .check:not(.checked) {

            transition: 0.2s ease-out;
        }

    }

}

.check {
    width: 41px;
    height: 24px;
    border-radius: 40px;
    background-color: var(--dark-gray);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 2px;
    transition: 0.2s ease-out;

    .inner {
        width: 20px;
        height: 20px;
        background-color: var(--white);
        border-radius: 50%;
        transform: translateX(0%);
        transition: 0.2s ease-out;
    }

}

.checked {
    background-color: var(--accent-purple);

    transition: 0.2s ease-out;

    .inner {
        transform: translateX(17px);
        transition: 0.2s ease-out;
    }

}


@media (hover: hover) and (pointer: fine) {


    .radiobutton {
        .check:not(.checked) {
            &:hover {
                background: linear-gradient(0deg, var(--gray-4) 0%, var(--gray-4) 100%), var(--dark-gray);
                transition: 0.2s ease-out;
            }
        }

    }

}

@media (hover: none) and (pointer: coarse) {



    .radiobutton {
        .check:not(.checked) {
            &:active {
                background: linear-gradient(0deg, var(--gray-4) 0%, var(--gray-4) 100%), var(--dark-gray);
                transition: 0.2s ease-out;
            }
        }
    }

}