.container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 16px 20px;
    border-radius: 12px;
    border: 1px solid var(--gray-4);
    background: var(--gray-4);
    min-width: 220px;
    height: fit-content;
    position: relative;
    overflow: hidden;

    .svg1 {
        position: absolute;
        left: -80.673px;
        top: -88.396px;
        fill: var(--accent-color);
        opacity: 0.1;
        filter: blur(40px);
    }

    .svg2 {
        position: absolute;
        right: -47.439px;
        bottom: -147.227px;
        border-radius: 283.693px;
        opacity: 0.2;
        background: var(--accent-purple);
        filter: blur(40px);
        width: 124.517px;
        height: 283.693px;
        transform: rotate(-144.987deg);
    }
}

.button {
    cursor: pointer;
    display: flex;
    height: 32px;
    width: fit-content;
    padding: 0px 20px 1px 20px;
    align-items: center;
    gap: 4px;
    border-radius: 40px;
    background: var(--dark-gray);
    color: var(--white);
    font-size: var(--fs-C_1-1920);
    font-style: normal;
    font-weight: var(--fw-C_1);
    line-height: var(--lh-C_1);
    letter-spacing: var(--ls-C_1-1920);
}

.text {
    display: flex;
    flex-direction: column;
    gap: 6px;

    h3 {
        font-size: var(--fs-T_3-1920);
        font-style: normal;
        font-weight: var(--fw-T_3);
        line-height: var(--lh-T_3);
        color: var(--white);
    }

    p {
        font-size: var(--fs-C_1-1920);
        font-style: normal;
        font-weight: var(--fw-C_1);
        line-height: var(--lh-C_1);
        letter-spacing: var(--ls-C_1-1920);
        color: var(--gray-40);
    }
}


@media (hover: hover) and (pointer: fine) {
    .button {
        &:hover {
            background:rgba(39, 37, 47, 1);
            transition: 0.2s ease-out;
        }
    }

}

@media (hover: none) and (pointer: coarse) {
    .button {
        &:active {
            background:rgba(39, 37, 47, 1);
            transition: 0.2s ease-out;
        }

    }
}


@media (max-width: 1919px) {
    .container {
        min-width: 180px;

        .svg1 {
            width: 78.117px;
            height: 177.977px;
            transform: rotate(35.013deg);
            left: -80.673px;
            top: -88.396px;
        }

        .svg2 {
            position: absolute;
            right: -93.439px;
            bottom: -130.227px;
            width: 124.517px;
            height: 283.693px;
            transform: rotate(-144.987deg);
        }
    }


}

@media (max-width: 1439px) {
    .container {
        display: none;
    }


}