 @font-face {
   font-family: 'VelaSans-GX';
   src:

     url("assets/fonts/VelaSans-Medium.woff2") format('woff2'),
     url("assets/fonts/VelaSans-Medium.woff") format('woff'),
     url("assets/fonts/VelaSans-Medium.ttf") format('truetype');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
 }

 @font-face {
   font-family: 'VelaSans-GX';
   src:

     url("assets/fonts/VelaSans-Regular.woff2") format('woff2'),
     url("assets/fonts/VelaSans-Regular.woff") format('woff'),
     url("assets/fonts/VelaSans-Regular.ttf") format('truetype');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
 }

 @font-face {
   font-family: 'VelaSans-GX';
   src:

     url("assets/fonts/VelaSans-SemiBold.woff2") format('woff2'),
     url("assets/fonts/VelaSans-SemiBold.woff") format('woff'),
     url("assets/fonts/VelaSans-SemiBold.ttf") format('truetype');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
 }


 @font-face {
   font-family: 'Coolvetica';
   src: url('assets/fonts/COOLVETICA\ RG.OTF') format('opentype');
   font-display: swap;
 }

 html {
   background-color: var(--background-far);
 }

 :root {
   --accent-color: #D4EE5D;
   --gray-15: rgba(65, 63, 75, 1);
   --gray-40: rgba(231, 229, 237, 0.40);
   --gray-10: rgba(231, 229, 237, 0.1);
   --gray-10-transparacy: rgba(231, 229, 237, 0.10);
   --gray-4: rgba(178, 172, 191, 0.04);
   --white: #F9F8FC;
   --light-gray: rgba(178, 172, 191, 1);
   --background-far: #14111A;
   --accent-purple: #5F42D9;
   --dark-gray: #211F29;
   --green-10: rgba(52, 61, 51, 1);
   --red-10: rgba(61, 51, 51, 1);
   --red-100: #EE5D5D;
   --green-100: rgba(108, 238, 93, 1);

   /*Text styles*/
   --fs-T_1-1920: 18px;
   --fw-T_1: 600;
   --fw-T_1-Bold: 700;
   --lh-T_1: 140%;
   --ls-T_1-1920: 0.18px;
   --ls-T_1-Bold-1920: -0.18px;

   --fs-T_1-1024: 16px;
   --ls-T_1-1024: 0.16px;

   --fs-T_1-768: 16px;
   --ls-T_1-768: 0.16px;

   --fs-T_1-480: 15px;
   --ls-T_1-480: 0.15px;

   --fs-T_1-375: 14px;
   --ls-T_1-375: 0.14px;
   /* T_2*/
   --fs-T_2-1920: 17px;
   --fw-T_2: 600;
   --fw-T_2-Medium: 500;
   --lh-T_2: 120%;

   --fs-T_2-1024: 15px;

   --fs-T_2-480: 14px;

   --fs-T_2-375: 13px;

   /*T_3*/
   --fs-T_3-1920: 16px;
   --fw-T_3: 500;
   --fw-T_3-Bold: 600;
   --lh-T_3: 140%;
   --ls-T_3-1920: 0.32px;

   --fs-T_3-1024: 15px;
   --ls-T_3-1024: 0.15px;

   --fs-T_3-768: 15px;
   --ls-T_3-768: 0.15px;

   --fs-T_3-480: 14px;
   --ls-T_3-480: 0.28px;

   --fs-T_3-480: 13px;
   --ls-T_3-480: 0.13px;



 }


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "VelaSans-GX", sans-serif;
   background-color: transparent;
   touch-action: manipulation;
   -webkit-tap-highlight-color: transparent;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-smooth: auto;
   text-rendering: optimizeLegibility;
   text-rendering: antialiased;
 }



 body {
   margin: 0;
   font-family: 'Coolvetica', 'VelaSans-GX',
     sans-serif,
     /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',  */
   ;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: var(--background-far);
 }


 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New'
     monospace, 'Coolvetica', 'VelaSans-GX';
 }