 /* @font-face {
   font-family: 'VelaSans-GX';
   src:

     url("assets/fonts/VelaSans-Medium.woff2") format('woff2'),
     url("assets/fonts/VelaSans-Medium.woff") format('woff'),
     url("assets/fonts/VelaSans-Medium.ttf") format('truetype');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
 }

 @font-face {
   font-family: 'VelaSans-GX';
   src:

     url("assets/fonts/VelaSans-Regular.woff2") format('woff2'),
     url("assets/fonts/VelaSans-Regular.woff") format('woff'),
     url("assets/fonts/VelaSans-Regular.ttf") format('truetype');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
 }

 @font-face {
   font-family: 'VelaSans-GX';
   src:

     url("assets/fonts/VelaSans-SemiBold.woff2") format('woff2'),
     url("assets/fonts/VelaSans-SemiBold.woff") format('woff'),
     url("assets/fonts/VelaSans-SemiBold.ttf") format('truetype');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
 } */
 
 @font-face {
   font-family: 'VelaSans-GX';
   src:

     url("assets/fonts/VelaSans-GX.woff2") format('woff2'),
     url("assets/fonts/VelaSans-GX.woff") format('woff'),
     url("assets/fonts/VelaSans-GX.ttf") format('truetype');
    
 }
 

 @font-face {
   font-family: 'Coolvetica';
   src: url('assets/fonts/COOLVETICA\ RG.OTF') format('opentype');
   font-display: swap;
 }

 html {
   background-color: var(--background-far);
 }

 :root {
   --accent-color: #D4EE5D;
   --gray-15: rgba(65, 63, 75, 1);
   --gray-40: rgba(231, 229, 237, 0.40);
   --gray-10: rgba(231, 229, 237, 0.1);
   --gray-10-transparacy: rgba(231, 229, 237, 0.10);
   --gray-4: rgba(178, 172, 191, 0.04);
   --white: #F9F8FC;
   --light-gray: rgba(178, 172, 191, 1);
   --background-far: #14111A;
   --accent-purple: #5F42D9;
   --dark-gray: #211F29;
   --green-10: rgba(52, 61, 51, 1);
   --red-10: rgba(61, 51, 51, 1);
   --red-100: #EE5D5D;
   --green-100: rgba(108, 238, 93, 1);

   /*Text styles*/
   --fs-T_1-1920: 18px;
   --fw-T_1: 600;
   --fw-T_1-Bold: 700;
   --lh-T_1: 140%;
   --ls-T_1-1920: 0.18px;
   --ls-T_1-Bold-1920: -0.18px;

   --fs-T_1-1024: 16px;
   --ls-T_1-1024: 0.16px;

   --fs-T_1-768: 16px;
   --ls-T_1-768: 0.16px;

   --fs-T_1-480: 15px;
   --ls-T_1-480: 0.15px;

   --fs-T_1-375: 14px;
   --ls-T_1-375: 0.14px;
   /* T_2*/
   --fs-T_2-1920: 17px;
   --fw-T_2: 600;
   --fw-T_2-Medium: 500;
   --lh-T_2: 120%;

   --fs-T_2-1024: 15px;
   --lh-T_2-1024: 140%;

   --fs-T_2-768: 15px;
   --lh-T_2-768: 140%;

   --fs-T_2-480: 14px;

   --fs-T_2-375: 13px;

   /*T_3*/
   --fs-T_3-1920: 16px;
   --fw-T_3: 500;
   --fw-T_3-Bold: 600;
   --lh-T_3: 140%;
   --lh-T_3_S: 118%;
   --ls-T_3-1920: 0.32px;

   --fs-T_3-1024: 15px;
   --ls-T_3-1024: 0.15px;
   --ls-T_3-Bold-1024: 0.3px;

   --fs-T_3-768: 15px;
   --ls-T_3-768: 0.15px;
   --ls-T_3-Bold-768: 0.3px;

   --fs-T_3-480: 14px;
   --ls-T_3-480: 0.28px;
   --ls-T_3-Bold-480: 0.28px;

   --fs-T_3-375: 13px;
   --ls-T_3-375: 0.13px;
   --ls-T_3-Bold-375: 0.26px;

   /* C1 */
   --fs-C_1: 12px;
   --fw-C_1: 500;
   --fw-C_1-semibold: 600;
   --lh-C_1: 120%;
   --ls-C_1: 0.36px;


   /* C2 */
   --fs-C_2-1920: 13px;
   --fw-C_2: 500;
   --lh-C_2: 94%;
   --ls-C_2-1920: 0.39px;

   --fs-C_2-1024: 12px;
   --ls-C_2-1024: 0.36x;
   --fw-C_2-semibold-1024: 600;

   --fs-C_2-768: 12px;
   --ls-C_2-768: 0.36px;

   --fs-C_2-480: 12px;
   --ls-C_2-480: 0.36px;

   --fs-C_2-375: 12px;
   --ls-C_2-375: 0.36px;

   /*H_4 Vela*/
   --fs-H_4-1920: 16px;
   --fw-H_4-1920: 700;
   --lh-H_4-1920: 140%;
   --ls-H_4-1920: 0.64px;

   --fs-H_4-1024: 40px;
   --fw-H_4-1024: 600;
   --ls-H_4-1024: -0.8px;

   --fs-H_4-768: 14px;
   --fw-H_4-768: 700;
   --ls-H_4-768: 0.56px;

   --fs-H_4-480: 16px;
   --fw-H_4-480: 400;
   --lh-H_4-480: 100%;
   --ls-H_4-480: 0.48px;

   --fs-H_4-375: 12px;
   --fw-H_4-375: 700;
   --ls-H_4-375: 0.48px;

   /*H_5 Vela*/
   --fs-H_5-1920: 64px;
   --fw-H_5: 600;
   --lh-H_5-1920: 140%;
   --ls-H_5-1920: -1.28px;

   --fs-H_5-1024: 32px;
   --ls-H_5-1024: 0.32px;

   --fs-H_5-768: 32px;
   --ls-H_5-768: 0.32px;

   --fs-H_5-480: 32px;
   --ls-H_5-480: 0.32px;

   --fs-H_5-375: 28px;
   --ls-H_5-375: 0.28px;

   /*H_6 Vela*/
   --fs-H_6-1920: 36px;
   --fw-H_6: 600;
   --lh-H_6-1920: 140%;
   --ls-H_6-1920: 0.36px;

   --fs-H_6-1024: 28px;
   --ls-H_6-1024: 0.28px;

   --fs-H_6-768: 28px;
   --ls-H_6-768: 0.28px;

   --fs-H_6-480: 24px;
   --ls-H_6-480: 0.24px;

   --fs-H_6-375: 22px;
   --ls-H_6-375: 0.22px;

   /*H_7 Vela*/
   --fs-H_7-1920: 24px;
   --fw-H_7: 600;
   --lh-H_7-1920: 120%;
   --ls-H_7-1920: 0.24px;

   --fs-H_7-1024: 24px;
   --ls-H_7-1024: 0.24px;
   --fs-H7-1024: 14px;
   --ls-H7-1024: 0.56px;

   --fs-H_7-nevela-1024: 14px;
   --fw-H_7-nevela-1024: 700;
   --lh-H_7-nevela-1024: 140%;
   --ls-H_7-nevela-1024: 0.56px;


   --fs-H_7-768: 18px;
   --ls-H_7-768: 0.18px;

   --fs-H_7-V-768: 24px;
   --ls-H_7-V-768: 0.24px;

   --fs-H_7-480: 16px;
   --fw-H_7-480: 700;
   --lh-H_7-480: 100%;
   --ls-H_7-480: 0.64px;

   --fs-H_7-nevela-480: 24px;
   --lh-H_7-nevela-480: 140%;
   --ls-H_7-nevela-480: -0.48px;


   --fs-H_7-375: 20px;
   --ls-H_7-375: 0.2px;


 }


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "VelaSans-GX", sans-serif;
   background-color: transparent;
   touch-action: manipulation;
   -webkit-tap-highlight-color: transparent;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-smooth: auto;
   text-rendering: optimizeLegibility;
   text-rendering: antialiased;
 }



 body {
   margin: 0;
   font-family: 'Coolvetica', 'VelaSans-GX',
     sans-serif,
     /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',  */
   ;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: var(--background-far);
 }


 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New'
     monospace, 'Coolvetica', 'VelaSans-GX';
 }