.tooltip {
    // display:  flex;
    max-width: 300px;
    padding: 12px 16px;
    // justify-content: flex-end;
    // align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--dark-gray);
    color: var(--light-gray);
    text-align: center;
    font-size: var(--fs-C_2-1920);
    font-style: normal;
    font-weight: var(--fw-C_2);
    line-height: var(--lh-C_2);
    letter-spacing: var(--ls-C_2-1920);
    position: relative;
    // width: fit-content;
    // height: auto;
    z-index: 1;
}

.rectangle {
    position: absolute;
    top: -40px;
    transform: rotate('180deg');
}