.button {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 8px 2px 8px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 93px;
    background: var(--dark-gray);
    transition: 0.2s ease-out;
    font-size: var(--fs-C_2-1920);
    font-style: normal;
    font-weight: var(--fw-C_2);
    line-height:  var(--lh-C_2);
    letter-spacing: var(--ls-C_2-1920);
    color: var(--light-gray);
}



@media (hover: hover) and (pointer: fine) {
    .button {
        &:hover:not(.small) {
            background: rgba(39, 37, 47, 1);
            transition: 0.2s ease-out;
        }
    }



}

@media (hover: none) and (pointer: coarse) {
    .button {
        &:active:not(.small) {
            background: rgba(39, 37, 47, 1);
            transition: 0.2s ease-out;
        }

        // &:disabled {
        //     &:active {
        //         background: var(--Accent-Purple, #5F42D9);
        //         ;
        //     }
        // }
    }
}

@media (max-width: 1439px) {
    .button {
        font-size: var(--fs-C_2-1024);
        letter-spacing: var(--ls-C_2-1024);
    }
}