.paymentsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.container {

    display: flex;
    // width: 608px;
    width: 100%;
    padding: 24px;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    border: 1.5px solid var(--gray-4);

    cursor: pointer;
    transition: 0.2s ease-out;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: 0.2s ease-out;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 2px;
        flex: 1 1 auto;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;

        .title {
            font-size: var(--fs-T_3-1920);
            font-style: normal;
            font-weight: var( --fw-T_3);
            line-height: var( --lh-T_3);
            letter-spacing: var(--ls-T_3-1920);
            color: var(--white);
        }

        .subtitle {

            font-size: var(--fs-C_1-1920);
            font-style: normal;
            font-weight: var(--fw-C_1);
            line-height: var(--lh-C_1);
            letter-spacing:var(--ls-C_1-1920);
            color: var(--gray-40);
            white-space: break-spaces;

        }
    }

    .input {
        input[type='checkbox'] {
            display: none;

            &:checked+label .check {
                background-color: var(--accent-purple);
                // background-image: url('./../../../assets/icons/checkinbox.svg');
                background-position: center;
                background-repeat: no-repeat;
                border: none;

                svg {
                    opacity: 1;
                    visibility: visible;
                    transition: 0.2s ease-out;
                }
            }

        }

        label {
            display: flex;
            gap: 8px;
            align-items: center;
            cursor: pointer;
        }

        .check {
            width: 24px;
            height: 24px;
            border-radius: 93px;
            border: 1px solid var(--gray-4);
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                opacity: 0;
                visibility: hidden;
                transition: 0.2s ease-out;
            }
        }
    }
}

.container.selected {
    background: var(--gray-10-transparacy);
    border: 1.5px solid transparent;
    transition: 0.2s ease-out;

    .logo {
        border-radius: 50%;
        background: var(--accent-purple);
        transition: 0.2s ease-out;
    }
}

@media (hover: hover) and (pointer: fine) {

    .container:hover {

        border: 1.5px solid var(--gray-10-transparacy);

        .input {
            .check {
                border: 1px solid var(--gray-10-transparacy);
            }
        }
    }

    .container.selected:hover {
        border: 1.5px solid transparent;
    }
}

@media (hover: none) and (pointer: coarse) {
    .container:active {

        border: 1.5px solid var(--gray-10-transparacy);

        .input {
            .check {
                border: 1px solid var(--gray-10-transparacy);
            }
        }
    }

    .container.selected:active {
        border: 1.5px solid transparent;


    }
}

@media (max-width: 1439px) {

    .paymentsContainer {
        gap: 12px;
    }

    .container {
        padding: 20px;
        gap: 12px;

        .text {

            .title {
                font-size: var(--fs-T_3-1024);
                letter-spacing: var(--ls-T_3-1024);
            }

            .subtitle {
                font-size: var(--fs-C_1-1024);
                letter-spacing: var(--ls-C_1-1024);
            }
        }
    }

}

@media (max-width: 767px) {
    .paymentsContainer {
        gap: 8px;
    }

    .container {
        padding: 16px;
        gap: 8px;
        // width: 520px;
        width: 100%;
        border-radius: 6px;

        .text {

            .title {
                font-size: var(--fs-T_3-480);
                letter-spacing: var(--ls-T_3-480);
            }

            .subtitle {
                font-size: var(--fs-C_1-480);
                letter-spacing: var(--ls-C_1-480);
            }
        }
    }

}

@media (max-width: 479px) {
    .paymentsContainer {
        // gap: 20px;
    }

    .container {
        padding: 12px;
        gap: 8px;
        border-radius: 4px;

        .text {

            .title {
                font-size: var(--fs-T_3-375);
                letter-spacing: var(--ls-T_3-375);
            }

            .subtitle {
                font-size: var(--fs-C_1-375);
                letter-spacing: var(--ls-C_1-375);
            }
        }
    }

}