.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

    .replenishment_container {
        padding: 32px 32px 32px 64px;
        border-right: 1px solid var(--gray-10);
        background: var(--background-far);
        width: 704px;
        height: 100%;
        display: flex;
        flex-direction: column;
        opacity: 1;
        transition: 0.5s;
        transform: translateX(-100%);
        max-height: 100%;


        .heading {
            width: 100%;
            display: flex;
            justify-content: space-between;

            color: var(--white);
            margin-bottom: 40px;
            align-items: flex-start;

            .heading_title {
                display: flex;
                align-items: flex-start;
                gap: 8px;
            }

            h3 {
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                /* 28.8px */
                letter-spacing: 0.24px;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            gap: 12px;
            width: 100%;
            padding-top: 16px;
            flex: 0 1 auto;
            border-top: 1.5px solid var(--gray-4);
        }
    }

    .content_container {

        display: flex;
        flex: 1 1 100%;
        gap: 40px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none;
        }

        .infoAndBonuses {
            display: flex;
            gap: 12px;
            flex-direction: column;
            width: 100%;

            .bonuses_block {
                display: flex;
                padding: 12px 24px;
                justify-content: space-between;
                align-items: center;
                flex: 1 0 0;
                border-radius: 8px;
                background: var(--gray-4);

                .bonuses {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    h3 {
                        color: var(--gray-40);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                        /* 22.4px */
                        letter-spacing: 0.32px;
                    }

                    .bonuses_amount {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 140%;
                        /* 22.4px */
                        letter-spacing: 0.32px;
                        color: var(--white);
                        display: flex;
                        align-items: center;
                        gap: 2px;
                    }

                    .button {
                        width: fit-content;
                    }
                }
            }
        }

        .payments {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;
            margin-bottom: 10px;
        }

        h4 {
            color: var(--gray-40);
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 94%;
            /* 12.22px */
            letter-spacing: 0.39px;
        }

        .info {
            display: flex;
            padding: 24px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            align-self: stretch;
            width: 100%;
            border-radius: 8px;
            background: var(--gray-4);

            .info_top {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;
                color: var(--white);
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                /* 28.8px */
                letter-spacing: 0.24px;

                .price {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    flex: 1 0 0;
                    overflow: hidden;

                    text-overflow: ellipsis;





                }

                .coins {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    align-self: stretch;
                    // flex: 1 0 auto;
                }
            }

            .line {
                width: 100%;
                height: 1.5px;
                background-color: var(--gray-10);
            }

            .info_bottom {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 8px;
                align-self: stretch;

                .text_info {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    align-self: stretch;

                    h3 {
                        display: -webkit-box;
                        min-width: 177px;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                        color: var(--gray-40);
                        text-overflow: ellipsis;
                        /* 1920-0000/Text/T_3 */
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                        /* 22.4px */
                        letter-spacing: 0.32px;
                    }


                    .text {
                        display: table;
                        table-layout: fixed;
                        width: 100%;
                        // display: -webkit-box;
                        // -webkit-box-orient: vertical;
                        // -webkit-line-clamp: 1;
                        // flex: 1 1 auto;
                        // overflow: hidden;
                        color: var(--light-gray);
                        // text-overflow: ellipsis;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 140%;
                        /* 22.4px */
                        letter-spacing: 0.32px;

                        .truncate {
                            display: table-cell;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }

                    .text_container {
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        flex: 1 0 0;

                        span {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                            color: var(--green-100);
                            text-overflow: ellipsis;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 140%;
                            /* 22.4px */
                            letter-spacing: 0.32px;
                        }
                    }

                    .promo {

                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                        color: var(--light-gray);
                        text-overflow: ellipsis;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 140%;
                        /* 22.4px */
                        letter-spacing: 0.32px;


                    }
                }
            }
        }
    }




}

.active {
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: 0.3s;
    pointer-events: all;

    .replenishment_container {
        opacity: 1;
        transition: 0.5s;
        transform: translateX(0%);
    }

}


@media (max-width: 1919px) {
    .modal_container {

        .replenishment_container {
            padding: 40px;
            width: 613px;
        }
    }
}

@media (max-width: 1439px) {
    .modal_container {
        .replenishment_container {
            width: 512px;

            .heading {
                margin-bottom: 24px;
            }

            .content_container {

                .infoAndBonuses {
                    .bonuses_block {

                        padding: 12px 20px;

                        .bonuses {

                            h3 {
                                font-size: 15px;
                                line-height: 140%;
                                /* 21px */
                                letter-spacing: 0.15px;
                            }

                            .bonuses_amount {
                                font-size: 15px;
                                line-height: 140%;
                                /* 21px */
                                letter-spacing: 0.3px;
                            }
                        }
                    }
                }


                h4 {
                    font-size: 12px;
                    line-height: 94%;
                    /* 11.28px */
                    letter-spacing: 0.36px;
                }

                .info {
                    padding: 20px;


                    .info_bottom {


                        .text_info {
                            gap: 8px;

                            h3 {
                                overflow: visible;
                                white-space: nowrap;
                                min-width: 158px;
                                font-size: 15px;
                                line-height: 140%;
                                /* 21px */
                                letter-spacing: 0.15px;
                            }


                            .text {

                                font-size: 15px;
                                line-height: 140%;
                                /* 21px */
                                letter-spacing: 0.3px;

                            }

                            .text_container {
                                gap: 4px;

                                span {
                                    white-space: nowrap;
                                    font-size: 15px;
                                    line-height: 140%;
                                    /* 21px */
                                    letter-spacing: 0.15px;
                                }
                            }

                            .promo {
                                overflow: visible;
                                font-size: 15px;
                                line-height: 140%;
                                /* 21px */
                                letter-spacing: 0.3px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1023px) {
    .modal_container {
        .replenishment_container {
            width: 100%;

            .content_container {
                .infoAndBonuses {
                    .bonuses_block {
                        padding: 16px 20px;
                    }
                }

                .info {
                    padding: 16px 20px;
                    gap: 12px;
                }
            }
        }
    }
}



@media (max-width: 767px) {
    .modal_container {


        .replenishment_container {
            padding: 32px 24px;

            .heading {


                h3 {
                    letter-spacing: -0.48px;
                }

            }

            .content_container {
                gap: 32px;

                .infoAndBonuses {

                    .bonuses_block {
                        flex-direction: column;
                        gap: 12px;
                        padding: 16px;

                        .button {
                            width: 100%;
                        }

                        .bonuses {
                            width: 100%;
                            justify-content: space-between;

                            h3 {
                                font-size: 14px;
                                line-height: 140%;
                                /* 19.6px */
                                letter-spacing: 0.28px;
                            }

                            .bonuses_amount {
                                font-size: 14px;
                                line-height: 140%;
                                /* 19.6px */
                                letter-spacing: 0.28px;
                            }
                        }
                    }
                }

                .info {
                    padding: 16px;

                    .info_top {

                        .price {
                            white-space: nowrap;
                            letter-spacing: -0.48px;
                            font-size: 20px;
                            line-height: 120%;
                            /* 24px */
                            letter-spacing: 0.2px;
                        }

                        .coins {
                            gap: 4px;
                            letter-spacing: -0.48px;
                            font-size: 20px;
                            line-height: 120%;
                            /* 24px */
                            letter-spacing: 0.2px;
                        }
                    }

                    .info_bottom {


                        .text_info {
                            gap: 8px;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            align-self: stretch;
                            gap: 0px;

                            h3 {
                                font-size: 14px;
                                line-height: 140%;
                                /* 19.6px */
                                letter-spacing: 0.28px;
                            }


                            .text {

                                font-size: 14px;
                                line-height: 140%;
                                /* 19.6px */
                                letter-spacing: 0.28px;
                            }

                            .text_container {


                                span {
                                    font-size: 14px;
                                    line-height: 140%;
                                    /* 19.6px */
                                    letter-spacing: 0.28px;
                                }
                            }

                            .promo {
                                font-size: 14px;
                                line-height: 140%;
                                /* 19.6px */
                                letter-spacing: 0.28px;
                            }
                        }
                    }
                }
            }


        }

    }
}


@media (max-width: 479px) {
    .modal_container {

        .replenishment_container {

            .heading {

                margin-bottom: 16px;

                h3 {
                    font-size: 20px;
                    line-height: 120%;
                    /* 24px */
                    letter-spacing: 0.2px;
                }

            }

            .content_container {
                .info {
                    .info_top {
                        .price {
                            -webkit-line-clamp: 2;
                            white-space: unset;
                            font-size: 20px;
                            line-height: 120%;
                            /* 24px */
                            letter-spacing: 0.2px;
                        }
                    }

                    .info_bottom {
                        gap: 6px;

                        .text_info {


                            h3 {
                                font-size: 13px;
                                line-height: 140%;
                                /* 18.2px */
                                letter-spacing: 0.13px;
                            }


                            .text {
                                font-size: 13px;
                                line-height: 140%;
                                /* 18.2px */
                                letter-spacing: 0.13px;
                            }

                            .text_container {

                                gap: 2px;

                                span {
                                    font-size: 13px;
                                    line-height: 140%;
                                    /* 18.2px */
                                    letter-spacing: 0.13px;
                                }
                            }

                            .promo {
                                font-size: 13px;
                                line-height: 140%;
                                /* 18.2px */
                                letter-spacing: 0.13px;
                            }
                        }
                    }
                }

                .payments {
                    gap: 16px;
                }

                .infoAndBonuses {
                    .bonuses_block {

                        .bonuses {
                            width: 100%;
                            justify-content: space-between;

                            h3 {
                                font-size: 13px;
                                line-height: 140%;
                                /* 18.2px */
                                letter-spacing: 0.13px;
                            }

                            .bonuses_amount {
                                font-size: 13px;
                                line-height: 140%;
                                /* 18.2px */
                                letter-spacing: 0.26px;
                            }
                        }
                    }
                }

            }



        }
    }
}



@media (max-width: 374px) {
    .modal_container {

        .replenishment_container {
            padding: 32px 16px;

            .heading {
                margin-bottom: 16px;

                h3 {
                    font-size: 20px;
                    line-height: 120%;
                    /* 24px */
                    letter-spacing: 0.2px;
                }

            }

            .content_container {
                .info {
                    .info_top {
                        .price {
                            letter-spacing: 0.2px;
                        }

                        .coins {
                            letter-spacing: 0.2px;
                        }
                    }
                }

 
            }
        }

    }
}